# sample use

In [1]:
import sklearn2vantage as s2v
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("teradata://dbc:dbc@192.168.10.2:1025/tdwork")

## LogisticRegression

In [2]:
# sample data table from db
cancer = pd.read_sql_query("select * from breast_cancer", engine)

In [3]:
cancer.head()

,id,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,mean_compactness,mean_concavity,mean_concave_points,mean_symmetry,...,worst_texture,worst_perimeter,worst_area,worst_smoothness,worst_compactness,worst_concavity,worst_concave_points,worst_symmetry,worst_fractal_dimension,benign
0,469.0,11.620,18.18,76.38,408.8,0.11750,0.14830,0.10200,0.055640,0.1957,...,25.40,88.14,528.1,0.1780,0.2878,0.31860,0.14160,0.2660,0.09270,1.0
1,0.0,17.990,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.147100,0.2419,...,17.33,184.60,2019.0,0.1622,0.6656,0.71190,0.26540,0.4601,0.11890,0.0
2,61.0,8.598,20.98,54.66,221.8,0.12430,0.08963,0.03000,0.009259,0.1828,...,27.04,62.06,273.9,0.1639,0.1698,0.09001,0.02778,0.2972,0.07712,1.0
3,265.0,20.730,31.12,135.70,1419.0,0.09469,0.11430,0.13670,0.086460,0.1769,...,47.16,214.00,3432.0,0.1401,0.2644,0.34420,0.16590,0.2868,0.08218,0.0
4,326.0,14.110,12.88,90.03,616.5,0.09309,0.05306,0.01765,0.027330,0.1373,...,18.00,98.40,749.9,0.1281,0.1109,0.05307,0.05890,0.2100,0.07083,1.0

In [4]:
features = cancer.columns[1:-1]
cancer_X = cancer[features]
cancer_y = cancer["benign"].astype(int).astype("category")

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [6]:
cancer_X_train, cancer_X_test, cancer_y_train, cancer_y_test = \
    train_test_split(cancer_X, cancer_y, test_size=0.2, random_state=42)

In [7]:
selected_features = ["worst_perimeter", "worst_smoothness", "mean_texture",
                     "radius_error", "worst_concave_points", "fractal_dimension_error"]

In [8]:
lr = (LogisticRegression(penalty="none", max_iter=500)
      .fit(cancer_X_train[selected_features], cancer_y_train))

In [9]:
lr_model = s2v.make_model_table_glm(lr, selected_features, isLogistic=True)
lr_model

   attribute                predictor category    estimate    family
0          0              (Intercept)     None   47.841052  LOGISTIC
1          1          worst_perimeter     None   -0.179622  LOGISTIC
2          2         worst_smoothness     None  -57.608191  LOGISTIC
3          3             mean_texture     None   -0.454491  LOGISTIC
4          4             radius_error     None  -13.499718  LOGISTIC
5          5     worst_concave_points     None  -69.612963  LOGISTIC
6          6  fractal_dimension_error     None  451.081892  LOGISTIC

In [10]:
import statsmodels.api as sm

In [11]:
lr_sm = sm.Logit(cancer_y_train,
                 sm.add_constant(cancer_X_train[selected_features])).fit()

Optimization terminated successfully.
         Current function value: 0.061844
         Iterations 13

/Users/akihirosanada/anaconda3/envs/sklearn2vantage/lib/python3.8/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [12]:
s2v.make_model_table_glm(lr_sm, isLogistic=True, isStatsmodels=True)

   attribute                predictor category    estimate    family
0          0                    const     None   47.841064  LOGISTIC
1          1          worst_perimeter     None   -0.179622  LOGISTIC
2          2         worst_smoothness     None  -57.608206  LOGISTIC
3          3             mean_texture     None   -0.454491  LOGISTIC
4          4             radius_error     None  -13.499726  LOGISTIC
5          5     worst_concave_points     None  -69.612929  LOGISTIC
6          6  fractal_dimension_error     None  451.084988  LOGISTIC

In [13]:
s2v.load_model_glm(lr_model, engine, "tdwork", "lr_model_cancer")

In [14]:
pd.read_sql_query("select * from lr_model_cancer", engine).head()

   attribute                predictor category    estimate    family
0        5.0     worst_concave_points     None  -69.612963  LOGISTIC
1        0.0              (Intercept)     None   47.841052  LOGISTIC
2        3.0             mean_texture     None   -0.454491  LOGISTIC
3        1.0          worst_perimeter     None   -0.179622  LOGISTIC
4        6.0  fractal_dimension_error     None  451.081892  LOGISTIC

In [15]:
# scoring
pd.read_sql_query("""
    select * from GLMPredict (
        on breast_cancer partition by any
        on lr_model_cancer as model dimension
            order by attribute, category, predictor, estimate 
        using Accumlate(
            'id', 'mean_texture', 'worst_perimeter', 'area_error', 'worst_smoothness'
        )
        Family ('LOGISTIC')
        LinkFunction ('LOGIT')
        ) as dt""", engine).head()

   fitted_value
0  6.111404e-01
1  1.095047e-13
2  9.999955e-01
3  9.977481e-18
4  9.999719e-01

## LinearRegression

including Lasso, Ridge, LassoCV, RidgeCV, etc.

In [16]:
# sample data from db
df_boston = pd.read_sql_query("select * from boston", engine)

In [17]:
df_boston.head()

,id,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,houseprice
0,469.0,13.07510,0.0,18.10,0.0,0.580,5.713,56.7,2.8237,24.0,666.0,20.2,396.90,14.76,20.1
1,0.0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
2,61.0,0.17171,25.0,5.13,0.0,0.453,5.966,93.4,6.8185,8.0,284.0,19.7,378.08,14.44,16.0
3,265.0,0.76162,20.0,3.97,0.0,0.647,5.560,62.8,1.9865,5.0,264.0,13.0,392.40,10.45,22.8
4,326.0,0.30347,0.0,7.38,0.0,0.493,6.312,28.9,5.4159,5.0,287.0,19.6,396.90,6.15,23.0

In [18]:
boston_X = df_boston.drop(["id", "houseprice"], axis=1)
boston_y = df_boston["houseprice"]

In [19]:
boston_X_train, boston_X_test, boston_y_train, boston_y_test = \
    train_test_split(boston_X, boston_y, test_size=0.2, random_state=42)

In [20]:
from sklearn.linear_model import LassoCV

In [21]:
l1 = LassoCV().fit(boston_X_train, boston_y_train)

In [22]:
model_boston= s2v.make_model_table_glm(l1, boston_X.columns)
model_boston.head()

   attribute    predictor category   estimate    family
0          0  (Intercept)     None  35.312343  GAUSSIAN
1          1         CRIM     None  -0.077222  GAUSSIAN
2          2           ZN     None   0.039996  GAUSSIAN
3          3        INDUS     None  -0.043103  GAUSSIAN
4          4         CHAS     None   0.000000  GAUSSIAN

In [23]:
boston_features = ['LSTAT', 'RM', 'PTRATIO', 'DIS', 'NOX', 'B', 'CHAS']

In [24]:
linear_sm = sm.OLS(boston_y_train,
                   sm.add_constant(boston_X_train[boston_features])
                  ).fit()

/Users/akihirosanada/anaconda3/envs/sklearn2vantage/lib/python3.8/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [25]:
s2v.make_model_table_glm(linear_sm, isStatsmodels=True).head()

   attribute predictor category   estimate    family
0          0     const     None  31.618361  GAUSSIAN
1          1     LSTAT     None  -0.491772  GAUSSIAN
2          2        RM     None   4.371716  GAUSSIAN
3          3   PTRATIO     None  -1.037311  GAUSSIAN
4          4       DIS     None  -1.157450  GAUSSIAN

In [26]:
s2v.load_model_glm(model_boston, engine, "tdwork", "linear_model_boston")

In [27]:
pd.read_sql_query("select * from linear_model_boston", engine).head()

   attribute    predictor category   estimate    family
0        7.0          AGE     None   0.010854  GAUSSIAN
1        0.0  (Intercept)     None  35.312343  GAUSSIAN
2        5.0          NOX     None  -0.000000  GAUSSIAN
3       13.0        LSTAT     None  -0.647561  GAUSSIAN
4        3.0        INDUS     None  -0.043103  GAUSSIAN

In [28]:
pd.read_sql_query("""
    select * from GLMPredict (
        on boston partition by any
        on linear_model_boston as model dimension
            order by attribute, category, predictor, estimate 
        using Accumlate(
            'id')
        Family ('GAUSSIAN')
        LinkFunction ('CANONICAL')
        ) as dt""", engine).head()

   fitted_value
0     18.021497
1     31.103136
2     20.156316
3     30.111871
4     25.036922

## GaussianNB

In [29]:
from sklearn.naive_bayes import GaussianNB

In [30]:
# sample data from db
df_iris = pd.read_sql_query("select * from iris", engine)

In [31]:
df_iris.head()

      id  sepal_length  sepal_width  petal_length  petal_width  species
0   61.0           5.9          3.0           4.2          1.5      1.0
1    0.0           5.1          3.5           1.4          0.2      0.0
2   40.0           5.0          3.5           1.3          0.3      0.0
3  122.0           7.7          2.8           6.7          2.0      2.0
4   19.0           5.1          3.8           1.5          0.3      0.0

In [32]:
df_iris.species = df_iris.species.astype(int)

In [33]:
iris_X = df_iris.drop(["id", "species"], axis=1)
iris_y = df_iris["species"]

In [34]:
iris_X_train, iris_X_test, iris_y_train, iris_y_test = \
    train_test_split(iris_X, iris_y, test_size=0.2, random_state=42)

In [35]:
gnb = GaussianNB().fit(iris_X_train, iris_y_train)

In [36]:
gnb_table = s2v.make_model_table_gnb(gnb, iris_X_train.columns)
gnb_table.head()

   class_nb      variable  type_nb category  cnt  sum_nb     sumSq  totalCnt
0         0  sepal_length  NUMERIC     None   41   204.6  0.519716        41
1         1  sepal_length  NUMERIC     None   41   243.2  3.505631        41
2         2  sepal_length  NUMERIC     None   38   251.7  7.829398        38
3         0   sepal_width  NUMERIC     None   41   139.8  0.389483        41
4         1   sepal_width  NUMERIC     None   41   113.1  0.459302        41

In [37]:
s2v.load_model_nb(gnb_table, engine, "tdwork", "model_iris_gnb")

In [38]:
pd.read_sql_query("select * from model_iris_gnb", engine).head()

  class_nb      variable  type_nb category   cnt  sum_nb     sumSq  totalCnt
0        0  sepal_length  NUMERIC     None  41.0   204.6  0.519716      41.0
1        1  sepal_length  NUMERIC     None  41.0   243.2  3.505631      41.0
2        0   sepal_width  NUMERIC     None  41.0   139.8  0.389483      41.0
3        1   sepal_width  NUMERIC     None  41.0   113.1  0.459302      41.0
4        0  petal_length  NUMERIC     None  41.0    60.0  0.030329      41.0

In [39]:
pd.read_sql_query("""
select * from NaiveBayesPredict (
    on iris partition by any
    on model_iris_gnb as Model DIMENSION
    using
    IDCol ('id')
    NumericInputs ('sepal_length', 'sepal_width', 'petal_length', 'petal_width')
    Responses ('0', '1', '2')
    ) as dt
""", engine).head()

      id prediction  loglik_0  loglik_1  loglik_2
0   61.0          0  -1.07392  -1.07392 -1.149906
1    0.0          0  -1.07392  -1.07392 -1.149906
2   40.0          0  -1.07392  -1.07392 -1.149906
3  122.0          0  -1.07392  -1.07392 -1.149906
4   19.0          0  -1.07392  -1.07392 -1.149906

## CategoricalNB

In [40]:
iris_cat = pd.read_sql_query("select * from iris_cat", engine)
iris_cat.species = iris_cat.species.astype(int)

In [41]:
iris_X_cat = iris_cat.drop(["id", "species"], axis=1)

In [42]:
iris_X_cat_train, iris_X_cat_test, iris_y_train, iris_y_test = \
    train_test_split(iris_X_cat, iris_y, test_size=0.2, random_state=42)

In [43]:
from sklearn.preprocessing import OrdinalEncoder

In [44]:
enc = OrdinalEncoder()
enc.fit(iris_X_cat_train)

OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>)

In [45]:
iris_X_cat_train_e = enc.transform(iris_X_cat_train)
iris_X_cat_test_e = enc.transform(iris_X_cat_test)

In [46]:
from sklearn.naive_bayes import CategoricalNB

In [47]:
cnb = CategoricalNB()
cnb.fit(iris_X_cat_train_e, iris_y_train)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [48]:
category_dict = {col:categories
                for col, categories
                in zip(iris_X_cat_train.columns,
                       enc.categories_)}

In [49]:
cnb_table = s2v.make_model_table_cnb(cnb, category_dict)
cnb_table.head()

   class_nb      variable      type_nb category  cnt sum_nb sumSq  totalCnt
0         0  sepal_length  CATEGORICAL      g_0   25   None  None        41
1         0  sepal_length  CATEGORICAL      g_1   14   None  None        41
2         0  sepal_length  CATEGORICAL      g_2    2   None  None        41
3         0  sepal_length  CATEGORICAL      g_3    0   None  None        41
4         0  sepal_length  CATEGORICAL      g_4    0   None  None        41

In [50]:
s2v.load_model_nb(cnb_table, engine, "tdwork", "model_iris_cnb")

In [51]:
pd.read_sql_query("select * from model_iris_cnb", engine).head()

  class_nb      variable      type_nb category   cnt sum_nb sumSq  totalCnt
0        0  sepal_length  CATEGORICAL      g_0  25.0   None  None      41.0
1        1  sepal_length  CATEGORICAL      g_0   3.0   None  None      41.0
2        0  sepal_length  CATEGORICAL      g_1  14.0   None  None      41.0
3        1  sepal_length  CATEGORICAL      g_1  11.0   None  None      41.0
4        0  sepal_length  CATEGORICAL      g_2   2.0   None  None      41.0

In [52]:
pd.read_sql_query("""
select * from NaiveBayesPredict (
    on iris_cat partition by any
    on model_iris_cnb as Model DIMENSION
    using
    IDCol ('id')
    CategoricalInputs ('sepal_length', 'sepal_width', 'petal_length', 'petal_width')
    Responses ('0', '1', '2')
    ) as dt
""", engine).head()

      id prediction   loglik_0   loglik_1   loglik_2
0   61.0          1 -13.210431  -4.448516 -10.089913
1    0.0          0  -3.934713 -13.903579 -14.115265
2   40.0          0  -4.112905 -12.604296 -14.115265
3  122.0          2 -14.309044 -11.475830  -4.121571
4   19.0          0  -4.662952 -11.505683 -14.115265