# How to use dataloader

In [1]:
import pandas as pd

In [2]:
def make_df(loader):
    data = loader()
    columns = data.get("feature_names")
    df = pd.DataFrame(data.data, columns=columns)
    df["target"] = pd.Series(data.target)
    return df

In [3]:
from sklearn.datasets import load_digits

In [4]:
import dataloader

In [5]:
from sqlalchemy import create_engine
engine = create_engine("teradata://dbc:dbc@192.168.43.24:1025/tdwork")

In [6]:
df_digits= make_df(load_digits)

In [7]:
df_digits= make_df(load_digits)
dataloader.tdload_df(df_digits, engine, tablename="tdload_digits", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root",
                    verbose=False, saveIndex=True, indexList=["index"])

created table

    create table tdwork.tdload_digits (
        idx Integer
    ,col_0 float
    ,col_1 float
    ,col_2 float
    ,col_3 float
    ,col_4 float
    ,col_5 float
    ,col_6 float
    ,col_7 float
    ,col_8 float
    ,col_9 float
    ,col_10 float
    ,col_11 float
    ,col_12 float
    ,col_13 float
    ,col_14 float
    ,col_15 float
    ,col_16 float
    ,col_17 float
    ,col_18 float
    ,col_19 float
    ,col_20 float
    ,col_21 float
    ,col_22 float
    ,col_23 float
    ,col_24 float
    ,col_25 float
    ,col_26 float
    ,col_27 float
    ,col_28 float
    ,col_29 float
    ,col_30 float
    ,col_31 float
    ,col_32 float
    ,col_33 float
    ,col_34 float
    ,col_35 float
    ,col_36 float
    ,col_37 float
    ,col_38 float
    ,col_39 float
    ,col_40 float
    ,col_41 float
    ,col_42 float
    ,col_43 float
    ,col_44 float
    ,col_45 float
    ,col_46 float
    ,col_47 float
    ,col_48 float
    ,col_49 float
    ,col_50 float
    ,col_51 float
    ,col_52 float
    ,col_53 float
    ,col_54 float
    ,col_55 float
    ,col_56 float
    ,col_57 float
    ,col_58 float
    ,col_59 float
    ,col_60 float
    ,col_61 float
    ,col_62 float
    ,col_63 float
    ,target Integer
    ) unique primary index (idx)

$LOAD: Total Rows Sent To RDBMS:      1797

$LOAD: Total Rows Applied:            1797

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

In [8]:
df_titanic = pd.read_csv("titanic/train.csv").set_index("PassengerId")
df_titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
dataloader.tdload_df(df_titanic, engine, tablename="titanic_train", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root",
                    saveIndex=True, indexList=["PassengerId"], verbose=False)

droped table tdwork.titanic_train
created table

    create table tdwork.titanic_train (
        PassengerId Integer
    ,Survived Integer
    ,Pclass Integer
    ,Name varchar(82)
    ,Sex varchar(6)
    ,Age float
    ,SibSp Integer
    ,Parch Integer
    ,Ticket varchar(18)
    ,Fare float
    ,Cabin varchar(15)
    ,Embarked varchar(3)
    ) unique primary index (PassengerId)

$LOAD: Total Rows Sent To RDBMS:      891

$LOAD: Total Rows Applied:            891

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

In [9]:
df_house = pd.read_csv("house-prices-advanced-regression-techniques/train.csv")
df_house.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [10]:
dataloader.tdload_df(df_house, engine, tablename="house_train", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root")

droped table tdwork.house_train
created table

    create table tdwork.house_train (
        Id Integer
    ,MSSubClass Integer
    ,MSZoning varchar(7)
    ,LotFrontage float
    ,LotArea Integer
    ,Street varchar(4)
    ,Alley varchar(4)
    ,LotShape varchar(3)
    ,LandContour varchar(3)
    ,Utilities varchar(6)
    ,LotConfig varchar(7)
    ,LandSlope varchar(3)
    ,Neighborhood varchar(7)
    ,Condition1 varchar(6)
    ,Condition2 varchar(6)
    ,BldgType varchar(6)
    ,HouseStyle varchar(6)
    ,OverallQual Integer
    ,OverallCond Integer
    ,YearBuilt Integer
    ,YearRemodAdd Integer
    ,RoofStyle varchar(7)
    ,RoofMatl varchar(7)
    ,Exterior1st varchar(7)
    ,Exterior2nd varchar(7)
    ,MasVnrType varchar(7)
    ,MasVnrArea float
    ,ExterQual varchar(2)
    ,ExterCond varchar(2)
    ,Foundation varchar(6)
    ,BsmtQual varchar(3)
    ,BsmtCond varchar(3)
    ,BsmtExposure varchar(3)
    ,BsmtFinType1 varchar(3)
    ,BsmtFinSF1 Integer
    ,BsmtFinType2 varchar(3)
    ,BsmtFinSF2 Integer
    ,BsmtUnfSF Integer
    ,TotalBsmtSF Integer
    ,Heating varchar(5)
    ,HeatingQC varchar(2)
    ,CentralAir varchar(1)
    ,Electrical varchar(5)
    ,col_1stFlrSF Integer
    ,col_2ndFlrSF Integer
    ,LowQualFinSF Integer
    ,GrLivArea Integer
    ,BsmtFullBath Integer
    ,BsmtHalfBath Integer
    ,FullBath Integer
    ,HalfBath Integer
    ,BedroomAbvGr Integer
    ,KitchenAbvGr Integer
    ,KitchenQual varchar(2)
    ,TotRmsAbvGrd Integer
    ,Functional varchar(4)
    ,Fireplaces Integer
    ,FireplaceQu varchar(3)
    ,GarageType varchar(7)
    ,GarageYrBlt float
    ,GarageFinish varchar(3)
    ,GarageCars Integer
    ,GarageArea Integer
    ,GarageQual varchar(3)
    ,GarageCond varchar(3)
    ,PavedDrive varchar(1)
    ,WoodDeckSF Integer
    ,OpenPorchSF Integer
    ,EnclosedPorch Integer
    ,col_3SsnPorch Integer
    ,ScreenPorch Integer
    ,PoolArea Integer
    ,PoolQC varchar(3)
    ,Fence varchar(5)
    ,MiscFeature varchar(4)
    ,MiscVal Integer
    ,MoSold Integer
    ,YrSold Integer
    ,SaleType varchar(5)
    ,SaleCondition varchar(7)
    ,SalePrice Integer
    ) no primary index

Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-33.out

Job id is jobtmp-33, running on TDExpress1620_Sles11

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

$FILE_READER[1]: DataConnector Producer operator Instances: 1

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: ECI operator ID: '$FILE_READER-24984'

$FILE_READER[1]: Operator instance 1 processing file '/tmp_tdwork_house_train_1579946305.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.house_train'

$LOAD: Total Rows Sent To RDBMS:      1460

$LOAD: Total Rows Applied:            1460

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.189

$LOAD:     Elapsed time from start to Acquisition phase:   2 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase: < 1 second

$LOAD:     Elapsed time from Application phase to end:   1 second(s)

$LOAD: Total processor time used = '0.092006 Second(s)'

$LOAD: Start : Sat Jan 25 04:58:28 2020

$LOAD: End   : Sat Jan 25 04:58:34 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sat Jan 25 04:58:28 2020

Job end:   Sat Jan 25 04:58:34 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used