# How to use dataloader

In [1]:
import pandas as pd
import dataloader
from sklearn.datasets import load_digits
import importlib
from sqlalchemy import create_engine

In [2]:
def make_df(loader):
    data = loader()
    columns = data.get("feature_names")
    df = pd.DataFrame(data.data, columns=columns)
    df["target"] = pd.Series(data.target)
    return df

In [3]:
importlib.reload(dataloader)

In [4]:
engine = create_engine("teradata://dbc:dbc@173.168.56.128:1025/tdwork")

In [5]:
df_digits= make_df(load_digits)

In [6]:
# replace
dataloader.tdload_df(df_digits, engine, tablename="tdload_digits", ifExists="replace",
                     ssh_ip="173.168.56.128", ssh_username="root", ssh_password="root")

start dumping DF to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542040.csv
    ...finished. : elapsed time = 0.15.sec
start re-reading /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542040.csv
    ...finished. : elapsed time = 0.02.sec
droped table tdwork.tdload_digits
created table

    create table tdwork.tdload_digits (
        col_0 float
    ,col_1 float
    ,col_2 float
    ,col_3 float
    ,col_4 float
    ,col_5 float
    ,col_6 float
    ,col_7 float
    ,col_8 float
    ,col_9 float
    ,col_10 float
    ,col_11 float
    ,col_12 float
    ,col_13 float
    ,col_14 float
    ,col_15 float
    ,col_16 float
    ,col_17 float
    ,col_18 float
    ,col_19 float
    ,col_20 float
    ,col_21 float
    ,col_22 float
    ,col_23 float
    ,col_24 float
    ,col_25 float
    ,col_26 float
    ,col_27 float
    ,col_28 float
    ,col_29 float
    ,col_30 float
    ,col_31 float
    ,col_32 float
    ,col_33 float
    ,col_34 float
    ,col_35 float
    ,col_36 float
    ,col_37 float
    ,col_38 float
    ,col_39 float
    ,col_40 float
    ,col_41 float
    ,col_42 float
    ,col_43 float
    ,col_44 float
    ,col_45 float
    ,col_46 float
    ,col_47 float
    ,col_48 float
    ,col_49 float
    ,col_50 float
    ,col_51 float
    ,col_52 float
    ,col_53 float
    ,col_54 float
    ,col_55 float
    ,col_56 float
    ,col_57 float
    ,col_58 float
    ,col_59 float
    ,col_60 float
    ,col_61 float
    ,col_62 float
    ,col_63 float
    ,target integer
    ) no primary index

start connecting ssh
    ...finished. : elapsed time = 0.20.sec
start Uploading File /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542040.csv to /root/tmp_tdwork_tdload_digits_1580542040.csv
Uploading b'tmp_tdwork_tdload_digits_1580542040.csv' progress: 100.00%

    ...finished. : elapsed time = 0.22.sec
start Loading File /root/tmp_tdwork_tdload_digits_1580542040.csv to DB
Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-93.out

Job id is jobtmp-93, running on linux

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: DataConnector Producer operator Instances: 1

$FILE_READER[1]: ECI operator ID: '$FILE_READER-13696'

$FILE_READER[1]: Operator instance 1 processing file '/root/tmp_tdwork_tdload_digits_1580542040.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.tdload_digits'

$LOAD: Total Rows Sent To RDBMS:      1797

$LOAD: Total Rows Applied:            1797

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.202

$LOAD:     Elapsed time from start to Acquisition phase:   2 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase: < 1 second

$LOAD:     Elapsed time from Application phase to end: < 1 second

$LOAD: Total processor time used = '0.064004 Second(s)'

$LOAD: Start : Sun Jan 26 22:03:06 2020

$LOAD: End   : Sun Jan 26 22:03:11 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sun Jan 26 22:03:06 2020

Job end:   Sun Jan 26 22:03:11 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

    ...finished. : elapsed time = 7.78.sec
start Deleting dumped file /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542040.csv
    ...finished. : elapsed time = 0.00.sec
start Deleting /root/tmp_tdwork_tdload_digits_1580542040.csv via SCP
    ...finished. : elapsed time = 0.00.sec
start Closing SSH
    ...finished. : elapsed time = 0.00.sec

In [7]:
pd.read_sql_query("select count(*) from tdload_digits", engine)

   Count(*)
0    1797.0

In [8]:
# insert
dataloader.tdload_df(df_digits, engine, tablename="tdload_digits", ifExists="insert",
                     ssh_ip="173.168.56.128", ssh_username="root", ssh_password="root")

start dumping DF to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542050.csv
    ...finished. : elapsed time = 0.15.sec
start re-reading /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542050.csv
    ...finished. : elapsed time = 0.02.sec
start connecting ssh
    ...finished. : elapsed time = 0.21.sec
start Uploading File /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542050.csv to /root/tmp_tdwork_tdload_digits_1580542050.csv
Uploading b'tmp_tdwork_tdload_digits_1580542050.csv' progress: 100.00%

    ...finished. : elapsed time = 0.12.sec
start Loading File /root/tmp_tdwork_tdload_digits_1580542050.csv to DB
Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-94.out

Job id is jobtmp-94, running on linux

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

$FILE_READER[1]: DataConnector Producer operator Instances: 1

Teradata Parallel Transporter Stream Operator Version 16.20.00.09

$STREAM: private log specified: StreamLog

$FILE_READER[1]: ECI operator ID: '$FILE_READER-13834'

$FILE_READER[1]: Operator instance 1 processing file '/root/tmp_tdwork_tdload_digits_1580542050.csv'.

$STREAM: Start-up Rate: UNLIMITED statements per Minute

$STREAM: Operator Command ID for External Command Interface: $STREAM13833

$STREAM: connecting sessions

$STREAM: entering Load Phase

$STREAM: Load Statistics for DML Group 1 :

$STREAM: Target Table:  'tdwork.tdload_digits'

$STREAM: Rows Inserted: 1797

$STREAM: entering Cleanup Phase

$STREAM: Total Rows in Error Table :   0

$FILE_READER[1]: Total files processed: 1.

$STREAM: disconnecting sessions

$STREAM: Performance metrics:

$STREAM:     MB/sec in Load phase: 0.086

$STREAM:     Elapsed time from start to Load phase:   5 second(s)

$STREAM:     Elapsed time in Load phase:   7 second(s)

$STREAM:     Elapsed time from Load phase to end:   1 second(s)

$STREAM: Total processor time used = '0.33602 Second(s)'

$STREAM: Start : Sun Jan 26 22:03:14 2020

$STREAM: End   : Sun Jan 26 22:03:27 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sun Jan 26 22:03:14 2020

Job end:   Sun Jan 26 22:03:27 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

    ...finished. : elapsed time = 15.16.sec
start Deleting dumped file /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542050.csv
    ...finished. : elapsed time = 0.00.sec
start Deleting /root/tmp_tdwork_tdload_digits_1580542050.csv via SCP
    ...finished. : elapsed time = 0.00.sec
start Closing SSH
    ...finished. : elapsed time = 0.00.sec

In [9]:
pd.read_sql_query("select count(*) from tdload_digits", engine)

   Count(*)
0    3594.0

In [10]:
# errror if table already exists
dataloader.tdload_df(df_digits, engine, tablename="tdload_digits", ifExists="error",
                     ssh_ip="173.168.56.128", ssh_username="root", ssh_password="root")

start dumping DF to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542066.csv
    ...finished. : elapsed time = 0.15.sec
start re-reading /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542066.csv
    ...finished. : elapsed time = 0.02.sec
start Deleting dumped file /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542066.csv
    ...finished. : elapsed time = 0.00.sec

ValueError: tdload_digits.tdwork is already exists.

In [11]:
# saveIndex, make index ("index"), which is unique, and use xz compressing for scp
dataloader.tdload_df(df_digits, engine, tablename="tdload_digits", ifExists="replace",
                     ssh_ip="173.168.56.128", ssh_username="root", ssh_password="root",
                     saveIndex=True, indexList=["index"], isIndexUnique=True, compress="xz")

start dumping DF to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542085.csv
    ...finished. : elapsed time = 0.62.sec
start re-reading /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542085.csv
    ...finished. : elapsed time = 0.26.sec
droped table tdwork.tdload_digits
created table

    create table tdwork.tdload_digits (
        idx integer
    ,col_0 float
    ,col_1 float
    ,col_2 float
    ,col_3 float
    ,col_4 float
    ,col_5 float
    ,col_6 float
    ,col_7 float
    ,col_8 float
    ,col_9 float
    ,col_10 float
    ,col_11 float
    ,col_12 float
    ,col_13 float
    ,col_14 float
    ,col_15 float
    ,col_16 float
    ,col_17 float
    ,col_18 float
    ,col_19 float
    ,col_20 float
    ,col_21 float
    ,col_22 float
    ,col_23 float
    ,col_24 float
    ,col_25 float
    ,col_26 float
    ,col_27 float
    ,col_28 float
    ,col_29 float
    ,col_30 float
    ,col_31 float
    ,col_32 float
    ,col_33 float
    ,col_34 float
    ,col_35 float
    ,col_36 float
    ,col_37 float
    ,col_38 float
    ,col_39 float
    ,col_40 float
    ,col_41 float
    ,col_42 float
    ,col_43 float
    ,col_44 float
    ,col_45 float
    ,col_46 float
    ,col_47 float
    ,col_48 float
    ,col_49 float
    ,col_50 float
    ,col_51 float
    ,col_52 float
    ,col_53 float
    ,col_54 float
    ,col_55 float
    ,col_56 float
    ,col_57 float
    ,col_58 float
    ,col_59 float
    ,col_60 float
    ,col_61 float
    ,col_62 float
    ,col_63 float
    ,target integer
    ) unique primary index (idx)

start connecting ssh
    ...finished. : elapsed time = 0.49.sec
start Uploading File /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542085.csv to /root/tmp_tdwork_tdload_digits_1580542085.csv
start Archiving /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542085.csv to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542085.csv.xz

    ...finished. : elapsed time = 1.30.sec
Uploading b'tmp_tdwork_tdload_digits_1580542085.csv.xz' progress: 100.00%

start Unarchiving /root/tmp_tdwork_tdload_digits_1580542085.csv.xz
tmp_tdwork_tdload_digits_1580542085.csv

    ...finished. : elapsed time = 0.27.sec
start Deleting archive /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542085.csv.xz
    ...finished. : elapsed time = 0.00.sec
start Deleting archive /root/tmp_tdwork_tdload_digits_1580542085.csv.xz via SCP
    ...finished. : elapsed time = 0.01.sec
    ...finished. : elapsed time = 2.34.sec
start Loading File /root/tmp_tdwork_tdload_digits_1580542085.csv to DB
Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-95.out

Job id is jobtmp-95, running on linux

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

$FILE_READER[1]: DataConnector Producer operator Instances: 1

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: ECI operator ID: '$FILE_READER-14041'

$FILE_READER[1]: Operator instance 1 processing file '/root/tmp_tdwork_tdload_digits_1580542085.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.tdload_digits'

$LOAD: Total Rows Sent To RDBMS:      1797

$LOAD: Total Rows Applied:            1797

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.205

$LOAD:     Elapsed time from start to Acquisition phase:   4 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase: < 1 second

$LOAD:     Elapsed time from Application phase to end:   2 second(s)

$LOAD: Total processor time used = '0.192012 Second(s)'

$LOAD: Start : Sun Jan 26 22:03:56 2020

$LOAD: End   : Sun Jan 26 22:04:05 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sun Jan 26 22:03:56 2020

Job end:   Sun Jan 26 22:04:05 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

    ...finished. : elapsed time = 11.93.sec
start Deleting dumped file /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_tdload_digits_1580542085.csv
    ...finished. : elapsed time = 0.00.sec
start Deleting /root/tmp_tdwork_tdload_digits_1580542085.csv via SCP
    ...finished. : elapsed time = 0.00.sec
start Closing SSH
    ...finished. : elapsed time = 0.00.sec

In [12]:
df_titanic = pd.read_csv("titanic/train.csv").set_index("PassengerId")
df_titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
# test with titanic data, with less verbosity
dataloader.tdload_df(df_titanic, engine, tablename="titanic_train", ifExists="replace",
                     ssh_ip="173.168.56.128", ssh_username="root", ssh_password="root",
                     saveIndex=True, indexList=["PassengerId"], verbose=False)

droped table tdwork.titanic_train
created table

    create table tdwork.titanic_train (
        PassengerId integer
    ,Survived integer
    ,Pclass integer
    ,Name varchar(82)
    ,Sex varchar(6)
    ,Age float
    ,SibSp integer
    ,Parch integer
    ,Ticket varchar(18)
    ,Fare float
    ,Cabin varchar(15)
    ,Embarked varchar(3)
    ) unique primary index (PassengerId)



$LOAD: Total Rows Sent To RDBMS:      891

$LOAD: Total Rows Applied:            891

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

In [14]:
df_house = pd.read_csv("house-prices-advanced-regression-techniques/train.csv")
df_house.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [15]:
# test with house data, with gz compressing
dataloader.tdload_df(df_house, engine, tablename="house_train", ifExists="replace",
          ssh_ip="173.168.56.128", ssh_username="root", ssh_password="root", compress="gz")

start dumping DF to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_house_train_1580542120.csv
    ...finished. : elapsed time = 0.36.sec
start re-reading /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_house_train_1580542120.csv
    ...finished. : elapsed time = 0.08.sec
droped table tdwork.house_train
created table

    create table tdwork.house_train (
        Id integer
    ,MSSubClass integer
    ,MSZoning varchar(7)
    ,LotFrontage float
    ,LotArea integer
    ,Street varchar(4)
    ,Alley varchar(4)
    ,LotShape varchar(3)
    ,LandContour varchar(3)
    ,Utilities varchar(6)
    ,LotConfig varchar(7)
    ,LandSlope varchar(3)
    ,Neighborhood varchar(7)
    ,Condition1 varchar(6)
    ,Condition2 varchar(6)
    ,BldgType varchar(6)
    ,HouseStyle varchar(6)
    ,OverallQual integer
    ,OverallCond integer
    ,YearBuilt integer
    ,YearRemodAdd integer
    ,RoofStyle varchar(7)
    ,RoofMatl varchar(7)
    ,Exterior1st varchar(7)
    ,Exterior2nd varchar(7)
    ,MasVnrType varchar(7)
    ,MasVnrArea float
    ,ExterQual varchar(2)
    ,ExterCond varchar(2)
    ,Foundation varchar(6)
    ,BsmtQual varchar(3)
    ,BsmtCond varchar(3)
    ,BsmtExposure varchar(3)
    ,BsmtFinType1 varchar(3)
    ,BsmtFinSF1 integer
    ,BsmtFinType2 varchar(3)
    ,BsmtFinSF2 integer
    ,BsmtUnfSF integer
    ,TotalBsmtSF integer
    ,Heating varchar(5)
    ,HeatingQC varchar(2)
    ,CentralAir varchar(1)
    ,Electrical varchar(5)
    ,col_1stFlrSF integer
    ,col_2ndFlrSF integer
    ,LowQualFinSF integer
    ,GrLivArea integer
    ,BsmtFullBath integer
    ,BsmtHalfBath integer
    ,FullBath integer
    ,HalfBath integer
    ,BedroomAbvGr integer
    ,KitchenAbvGr integer
    ,KitchenQual varchar(2)
    ,TotRmsAbvGrd integer
    ,Functional varchar(4)
    ,Fireplaces integer
    ,FireplaceQu varchar(3)
    ,GarageType varchar(7)
    ,GarageYrBlt float
    ,GarageFinish varchar(3)
    ,GarageCars integer
    ,GarageArea integer
    ,GarageQual varchar(3)
    ,GarageCond varchar(3)
    ,PavedDrive varchar(1)
    ,WoodDeckSF integer
    ,OpenPorchSF integer
    ,EnclosedPorch integer
    ,col_3SsnPorch integer
    ,ScreenPorch integer
    ,PoolArea integer
    ,PoolQC varchar(3)
    ,Fence varchar(5)
    ,MiscFeature varchar(4)
    ,MiscVal integer
    ,MoSold integer
    ,YrSold integer
    ,SaleType varchar(5)
    ,SaleCondition varchar(7)
    ,SalePrice integer
    ) no primary index

start connecting ssh
    ...finished. : elapsed time = 0.34.sec
start Uploading File /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_house_train_1580542120.csv to /root/tmp_tdwork_house_train_1580542120.csv
start Archiving /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_house_train_1580542120.csv to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_house_train_1580542120.csv.gz

    ...finished. : elapsed time = 0.07.sec
Uploading b'tmp_tdwork_house_train_1580542120.csv.gz' progress: 100.00%

start Unarchiving /root/tmp_tdwork_house_train_1580542120.csv.gz
tmp_tdwork_house_train_1580542120.csv

    ...finished. : elapsed time = 0.14.sec
start Deleting archive /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_house_train_1580542120.csv.gz
    ...finished. : elapsed time = 0.00.sec
start Deleting archive /root/tmp_tdwork_house_train_1580542120.csv.gz via SCP
    ...finished. : elapsed time = 0.00.sec
    ...finished. : elapsed time = 0.54.sec
start Loading File /root/tmp_tdwork_house_train_1580542120.csv to DB
Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-97.out

Job id is jobtmp-97, running on linux

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: DataConnector Producer operator Instances: 1

$FILE_READER[1]: ECI operator ID: '$FILE_READER-14406'

$FILE_READER[1]: Operator instance 1 processing file '/root/tmp_tdwork_house_train_1580542120.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.house_train'

$LOAD: Total Rows Sent To RDBMS:      1460

$LOAD: Total Rows Applied:            1460

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.142

$LOAD:     Elapsed time from start to Acquisition phase:   2 second(s)

$LOAD:     Elapsed time in Acquisition phase:   4 second(s)

$LOAD:     Elapsed time in Application phase: < 1 second

$LOAD:     Elapsed time from Application phase to end:   1 second(s)

$LOAD: Total processor time used = '0.132008 Second(s)'

$LOAD: Start : Sun Jan 26 22:04:28 2020

$LOAD: End   : Sun Jan 26 22:04:35 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sun Jan 26 22:04:28 2020

Job end:   Sun Jan 26 22:04:35 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

    ...finished. : elapsed time = 9.66.sec
start Deleting dumped file /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_house_train_1580542120.csv
    ...finished. : elapsed time = 0.00.sec
start Deleting /root/tmp_tdwork_house_train_1580542120.csv via SCP
    ...finished. : elapsed time = 0.00.sec
start Closing SSH
    ...finished. : elapsed time = 0.00.sec

In [16]:
# create sample data
df_sample = pd.DataFrame({"c_int":[1,2,3,4], "c_float":[1.2, -0.3, 0.9, 1.5],
                          "c_bigint":[int(1e12), int(2e12), int(3e12), int(4e12)],
                         "c_bool":[True,False,True,False], 
                          "c_string":["a", "b", "c", "d"],
                         "c_list":[[1,2,3], [4,5,6], [7,8,9], [1,2,3]],
                         "c_timedelta":pd.to_timedelta(["00:01:02", "00:03:01",
                                                     "05:02:01", "1:01:08"]),
                         "c_date":pd.to_datetime(["2020/1/1","1998/12/2",
                                                   "1980/4/1","2008/1/1"]),
                         "c_timestamp":pd.to_datetime(["2020/1/1 10:10:10.09",
                                                   "2020/1/1 10:10:10",
                                                   "2020/1/1 10:10",
                                                   "2020/1/1 10:10:05"])})
df_sample.head()

,c_int,c_float,c_bigint,c_bool,c_string,c_list,c_timedelta,c_date,c_timestamp
0,1,1.2,1000000000000,True,a,"[1, 2, 3]",00:01:02,2020-01-01,2020-01-01 10:10:10.090
1,2,-0.3,2000000000000,False,b,"[4, 5, 6]",00:03:01,1998-12-02,2020-01-01 10:10:10.000
2,3,0.9,3000000000000,True,c,"[7, 8, 9]",05:02:01,1980-04-01,2020-01-01 10:10:00.000
3,4,1.5,4000000000000,False,d,"[1, 2, 3]",01:01:08,2008-01-01,2020-01-01 10:10:05.000

In [17]:
# test with sample data
dataloader.tdload_df(df_sample, engine, tablename="t_sample", ifExists="replace",
                     ssh_ip="173.168.56.128", ssh_username="root", ssh_password="root",
                     compress="bz2")

start dumping DF to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542134.csv
    ...finished. : elapsed time = 0.01.sec
start re-reading /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542134.csv
    ...finished. : elapsed time = 0.01.sec
droped table tdwork.t_sample
created table

    create table tdwork.t_sample (
        c_int integer
    ,c_float float
    ,c_bigint bigint
    ,c_bool varchar(5)
    ,c_string varchar(1)
    ,c_list varchar(9)
    ,c_timedelta varchar(25)
    ,c_date varchar(23)
    ,c_timestamp varchar(23)
    ) no primary index

start connecting ssh
    ...finished. : elapsed time = 0.51.sec
start Uploading File /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542134.csv to /root/tmp_tdwork_t_sample_1580542134.csv
start Archiving /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542134.csv to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542134.csv.bz2

    ...finished. : elapsed time = 0.03.sec
Uploading b'tmp_tdwork_t_sample_1580542134.csv.bz2' progress: 100.00%

start Unarchiving /root/tmp_tdwork_t_sample_1580542134.csv.bz2
tmp_tdwork_t_sample_1580542134.csv

    ...finished. : elapsed time = 0.31.sec
start Deleting archive /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542134.csv.bz2
    ...finished. : elapsed time = 0.00.sec
start Deleting archive /root/tmp_tdwork_t_sample_1580542134.csv.bz2 via SCP
    ...finished. : elapsed time = 0.00.sec
    ...finished. : elapsed time = 0.90.sec
start Loading File /root/tmp_tdwork_t_sample_1580542134.csv to DB
Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-98.out

Job id is jobtmp-98, running on linux

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: DataConnector Producer operator Instances: 1

$FILE_READER[1]: ECI operator ID: '$FILE_READER-14608'

$FILE_READER[1]: Operator instance 1 processing file '/root/tmp_tdwork_t_sample_1580542134.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.t_sample'

$LOAD: Total Rows Sent To RDBMS:      4

$LOAD: Total Rows Applied:            4

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.000

$LOAD:     Elapsed time from start to Acquisition phase:   4 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase: < 1 second

$LOAD:     Elapsed time from Application phase to end:   1 second(s)

$LOAD: Total processor time used = '0.184011 Second(s)'

$LOAD: Start : Sun Jan 26 22:04:40 2020

$LOAD: End   : Sun Jan 26 22:04:48 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sun Jan 26 22:04:40 2020

Job end:   Sun Jan 26 22:04:48 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

    ...finished. : elapsed time = 11.17.sec
start Deleting dumped file /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542134.csv
    ...finished. : elapsed time = 0.00.sec
start Deleting /root/tmp_tdwork_t_sample_1580542134.csv via SCP
    ...finished. : elapsed time = 0.00.sec
start Closing SSH
    ...finished. : elapsed time = 0.00.sec

In [18]:
# test with sample data and data type overwriting
dataloader.tdload_df(df_sample, engine, tablename="t_sample", ifExists="replace",
                     ssh_ip="173.168.56.128", ssh_username="root", ssh_password="root",
                     compress="bz2", dtype={"c_int": "varchar(5)", "c_bigint":"float"})

start dumping DF to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542147.csv
    ...finished. : elapsed time = 0.01.sec
start re-reading /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542147.csv
    ...finished. : elapsed time = 0.01.sec
droped table tdwork.t_sample
created table

    create table tdwork.t_sample (
        c_int varchar(5)
    ,c_float float
    ,c_bigint float
    ,c_bool varchar(5)
    ,c_string varchar(1)
    ,c_list varchar(9)
    ,c_timedelta varchar(25)
    ,c_date varchar(23)
    ,c_timestamp varchar(23)
    ) no primary index

start connecting ssh
    ...finished. : elapsed time = 1.42.sec
start Uploading File /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542147.csv to /root/tmp_tdwork_t_sample_1580542147.csv
start Archiving /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542147.csv to /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542147.csv.bz2

    ...finished. : elapsed time = 0.04.sec
Uploading b'tmp_tdwork_t_sample_1580542147.csv.bz2' progress: 100.00%

start Unarchiving /root/tmp_tdwork_t_sample_1580542147.csv.bz2
tmp_tdwork_t_sample_1580542147.csv

    ...finished. : elapsed time = 1.04.sec
start Deleting archive /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542147.csv.bz2
    ...finished. : elapsed time = 0.00.sec
start Deleting archive /root/tmp_tdwork_t_sample_1580542147.csv.bz2 via SCP
    ...finished. : elapsed time = 0.00.sec
    ...finished. : elapsed time = 4.44.sec
start Loading File /root/tmp_tdwork_t_sample_1580542147.csv to DB
Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-99.out

Job id is jobtmp-99, running on linux

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

$FILE_READER[1]: DataConnector Producer operator Instances: 1

$FILE_READER[1]: ECI operator ID: '$FILE_READER-15032'

$FILE_READER[1]: Operator instance 1 processing file '/root/tmp_tdwork_t_sample_1580542147.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.t_sample'

$LOAD: Total Rows Sent To RDBMS:      4

$LOAD: Total Rows Applied:            4

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.000

$LOAD:     Elapsed time from start to Acquisition phase:   8 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase:   1 second(s)

$LOAD:     Elapsed time from Application phase to end:   1 second(s)

$LOAD: Total processor time used = '0.144008 Second(s)'

$LOAD: Start : Sun Jan 26 22:05:04 2020

$LOAD: End   : Sun Jan 26 22:05:17 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sun Jan 26 22:05:04 2020

Job end:   Sun Jan 26 22:05:18 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

    ...finished. : elapsed time = 20.99.sec
start Deleting dumped file /Users/akihirosanada/Documents/Github/sklearn2vantage/tmp_tdwork_t_sample_1580542147.csv
    ...finished. : elapsed time = 0.00.sec
start Deleting /root/tmp_tdwork_t_sample_1580542147.csv via SCP
    ...finished. : elapsed time = 0.00.sec
start Closing SSH
    ...finished. : elapsed time = 0.00.sec