# sklearn2vantage

## GLMPredict

### Logistic Regression(2class only)

#### Modeling(Python)

##### sklearn

In [1]:
from sqlalchemy import create_engine
engine = create_engine("teradatasql://dbc:dbc@192.168.10.2:1025/tdwork")

In [2]:
import numpy as np
import pandas as pd

In [3]:
# sample data table from db
cancer = pd.read_sql_query("select * from breast_cancer", engine)

In [4]:
cancer.head()

,id,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,mean_compactness,mean_concavity,mean_concave_points,mean_symmetry,...,worst_texture,worst_perimeter,worst_area,worst_smoothness,worst_compactness,worst_concavity,worst_concave_points,worst_symmetry,worst_fractal_dimension,benign
0,469,11.620,18.18,76.38,408.8,0.11750,0.14830,0.10200,0.055640,0.1957,...,25.40,88.14,528.1,0.1780,0.2878,0.31860,0.14160,0.2660,0.09270,1
1,0,17.990,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.147100,0.2419,...,17.33,184.60,2019.0,0.1622,0.6656,0.71190,0.26540,0.4601,0.11890,0
2,61,8.598,20.98,54.66,221.8,0.12430,0.08963,0.03000,0.009259,0.1828,...,27.04,62.06,273.9,0.1639,0.1698,0.09001,0.02778,0.2972,0.07712,1
3,265,20.730,31.12,135.70,1419.0,0.09469,0.11430,0.13670,0.086460,0.1769,...,47.16,214.00,3432.0,0.1401,0.2644,0.34420,0.16590,0.2868,0.08218,0
4,326,14.110,12.88,90.03,616.5,0.09309,0.05306,0.01765,0.027330,0.1373,...,18.00,98.40,749.9,0.1281,0.1109,0.05307,0.05890,0.2100,0.07083,1

In [5]:
features = cancer.columns[1:-1]
cancer_X = cancer[features]
cancer_y = cancer["benign"].astype(int).astype("category")

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

In [7]:
cancer_X_train, cancer_X_test, cancer_y_train, cancer_y_test = \
    train_test_split(cancer_X, cancer_y, test_size=0.2, random_state=42)

In [8]:
def fwd_stepwise(Model, X:pd.DataFrame, y, candidates=None):
    if candidates is None: candidates = X.columns
    model = Model(y, np.ones((X.shape[0], 1))).fit(disp=0)
    best_bic = model.bic
    included = []
    while len(candidates) > 0:
        next_candidate = None
        for col in candidates:
            X_tmp = X[included + [col]]
            model = Model(y, sm.add_constant(X_tmp)).fit(disp=0)
            if model.bic < best_bic:
                next_candidate = col
                best_bic = model.bic
        if next_candidate is not None:
            included.append(next_candidate)
            candidates = [x for x in candidates if x != next_candidate]
            print(f"add {next_candidate}, bic = {best_bic}")
        else:
            break
    return included

In [9]:
selected_features = fwd_stepwise(sm.Logit, cancer_X_train, cancer_y_train)

/Users/akihirosanada/anaconda3/envs/sklearn2vantage/lib/python3.8/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

add worst_perimeter, bic = 177.28482457459782
add worst_smoothness, bic = 127.11766468817652
add mean_texture, bic = 110.60976255661971
add radius_error, bic = 103.62437741833622
add worst_concave_points, bic = 100.05496690887361
add fractal_dimension_error, bic = 99.12055673714931

In [10]:
selected_features = ["worst_perimeter", "worst_smoothness", "mean_texture",
                     "radius_error", "worst_concave_points", "fractal_dimension_error"]

In [11]:
lr = (LogisticRegression(penalty="none", max_iter=500)
      .fit(cancer_X_train[selected_features], cancer_y_train))

In [12]:
print(lr.score(cancer_X_train[selected_features], cancer_y_train))
print(lr.score(cancer_X_test[selected_features], cancer_y_test))

0.978021978021978
0.9473684210526315

In [13]:
lr.intercept_

array([47.8410519])

In [14]:
pd.Series(lr.coef_.ravel(), index=cancer_X[selected_features].columns)

worst_perimeter             -0.179622
worst_smoothness           -57.608191
mean_texture                -0.454491
radius_error               -13.499718
worst_concave_points       -69.612963
fractal_dimension_error    451.081892
dtype: float64

##### statsmodels

In [15]:
import statsmodels.api as sm

In [16]:
lr_sm = sm.Logit(cancer_y_train, 
         sm.add_constant(cancer_X_train[selected_features])).fit()

Optimization terminated successfully.
         Current function value: 0.061844
         Iterations 13

/Users/akihirosanada/anaconda3/envs/sklearn2vantage/lib/python3.8/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [17]:
lr_sm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 benign   No. Observations:                  455
Model:                          Logit   Df Residuals:                      448
Method:                           MLE   Df Model:                            6
Date:                Mon, 13 Jan 2020   Pseudo R-squ.:                  0.9067
Time:                        11:57:23   Log-Likelihood:                -28.139
converged:                       True   LL-Null:                       -301.70
Covariance Type:            nonrobust   LLR p-value:                5.865e-115
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      47.8411      9.572      4.998      0.000      29.080      66.602
worst_perimeter            -0.1796      0.046     -3.918      0.000      -0.269      -0.090
worst_smoothness          -57.6082     23.413     -2.461      0.014    -103.496     -11.720
mean_texture               -0.4545      0.117     -3.876      0.000      -0.684      -0.225
radius_error              -13.4997      4.142     -3.259      0.001     -21.618      -5.381
worst_concave_points      -69.6129     20.365     -3.418      0.001    -109.528     -29.698
fractal_dimension_error   451.0850    208.920      2.159      0.031      41.609     860.561
===========================================================================================

Possibly complete quasi-separation: A fraction 0.57 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

#### Scoring(SQL)

- model table format:
    - atribute: integer
    - predictor: char/varchar
    - category: char/varchar
    - estimate: double, coefficient
    - family: char/varchar

In [18]:
lr_sm.params

const                       47.841064
worst_perimeter             -0.179622
worst_smoothness           -57.608206
mean_texture                -0.454491
radius_error               -13.499726
worst_concave_points       -69.612929
fractal_dimension_error    451.084988
dtype: float64

In [19]:
def make_model_table_glm(model, feature_names=None, isLogistic=False, 
                         isStatsmodels=False):
    family = "LOGISTIC" if isLogistic else "GAUSSIAN"
    if isStatsmodels:
        coefs = model.params.values
        features = model.params.index.values
    else:
        if feature_names is None: raise(ValueError, 
                                     "for sklearn model, feature_names is necessary.")
        coefs = np.hstack([model.intercept_, model.coef_.ravel()])
        features = np.hstack(["(Intercept)", feature_names])
    model_dict = [{"attribute": i, "predictor": feature,
                   "category": None, "estimate": coef,
                   "family": family}
                  for i, (coef, feature) in enumerate(zip(coefs, features))]
    return pd.DataFrame(model_dict)

In [20]:
def load_model_glm(df_model, engine, table_name):
    from sqlalchemy import Column, Integer, Float, String
    dtype_glm_model = {"attribute":Integer, "predictor":String(length=30),
                   "category":String(length=30), "estimate":Float,
                   "family":String(length=30)}
    df_model.to_sql(name=table_name, con=engine,
                    index=False, if_exists="replace",
                    dtype=dtype_glm_model)

In [21]:
lr_model = make_model_table_glm(lr, selected_features, isLogistic=True)
lr_model

   attribute                predictor category    estimate    family
0          0              (Intercept)     None   47.841052  LOGISTIC
1          1          worst_perimeter     None   -0.179622  LOGISTIC
2          2         worst_smoothness     None  -57.608191  LOGISTIC
3          3             mean_texture     None   -0.454491  LOGISTIC
4          4             radius_error     None  -13.499718  LOGISTIC
5          5     worst_concave_points     None  -69.612963  LOGISTIC
6          6  fractal_dimension_error     None  451.081892  LOGISTIC

In [22]:
make_model_table_glm(lr_sm, isLogistic=True, isStatsmodels=True)

   attribute                predictor category    estimate    family
0          0                    const     None   47.841064  LOGISTIC
1          1          worst_perimeter     None   -0.179622  LOGISTIC
2          2         worst_smoothness     None  -57.608206  LOGISTIC
3          3             mean_texture     None   -0.454491  LOGISTIC
4          4             radius_error     None  -13.499726  LOGISTIC
5          5     worst_concave_points     None  -69.612929  LOGISTIC
6          6  fractal_dimension_error     None  451.084988  LOGISTIC

In [23]:
load_model_glm(lr_model, engine, "lr_model_cancer")

In [24]:
pd.read_sql_query("select * from lr_model_cancer", engine)

   attribute                predictor category    estimate    family
0          5     worst_concave_points     None  -69.612963  LOGISTIC
1          0              (Intercept)     None   47.841052  LOGISTIC
2          3             mean_texture     None   -0.454491  LOGISTIC
3          1          worst_perimeter     None   -0.179622  LOGISTIC
4          6  fractal_dimension_error     None  451.081892  LOGISTIC
5          4             radius_error     None  -13.499718  LOGISTIC
6          2         worst_smoothness     None  -57.608191  LOGISTIC

In [25]:
# scoring
pd.read_sql_query("""
    select * from GLMPredict (
        on breast_cancer partition by any
        on lr_model_cancer as model dimension
            order by attribute, category, predictor, estimate 
        using Accumulate(
            'id', 'mean_texture', 'worst_perimeter', 'area_error', 'worst_smoothness'
        )
        Family ('LOGISTIC')
        LinkFunction ('LOGIT')
        ) as dt""", engine)

,id,mean_texture,area_error,worst_perimeter,worst_smoothness,fitted_value
0,469,18.18,27.85,88.14,0.1780,6.111404e-01
1,0,10.38,153.40,184.60,0.1622,1.095047e-13
2,61,20.98,18.39,62.06,0.1639,9.999955e-01
3,265,31.12,199.70,214.00,0.1401,9.977481e-18
4,326,12.88,23.92,98.40,0.1281,9.999719e-01
...,...,...,...,...,...,...
564,164,22.04,97.85,184.20,0.1228,5.385536e-12
565,21,12.44,15.70,65.13,0.1324,9.999999e-01
566,490,22.44,18.04,92.74,0.1256,9.993880e-01
567,347,14.74,29.06,114.20,0.1220,8.205192e-01
568,204,18.60,30.29,96.05,0.1426,9.578922e-01

### Linear Regression

#### Modeling(Python)

##### sklearn

In [3]:
# sample data from db
df_boston = pd.read_sql_query("select * from boston", engine)

In [4]:
df_boston.head()

,id,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,houseprice
0,469,13.07510,0.0,18.10,0.0,0.580,5.713,56.7,2.8237,24.0,666.0,20.2,396.90,14.76,20.1
1,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
2,61,0.17171,25.0,5.13,0.0,0.453,5.966,93.4,6.8185,8.0,284.0,19.7,378.08,14.44,16.0
3,265,0.76162,20.0,3.97,0.0,0.647,5.560,62.8,1.9865,5.0,264.0,13.0,392.40,10.45,22.8
4,326,0.30347,0.0,7.38,0.0,0.493,6.312,28.9,5.4159,5.0,287.0,19.6,396.90,6.15,23.0

In [5]:
boston_X = df_boston.drop(["id", "houseprice"], axis=1)
boston_y = df_boston["houseprice"]

In [8]:
boston_X_train, boston_X_test, boston_y_train, boston_y_test = \
    train_test_split(boston_X, boston_y, test_size=0.2, random_state=42)

In [30]:
from sklearn.linear_model import LassoCV

In [31]:
l1 = LassoCV().fit(boston_X_train, boston_y_train)

In [32]:
print(l1.intercept_)
print(l1.coef_)

35.31234261482988
[-0.07722231  0.03999583 -0.04310295  0.         -0.          2.03279485
  0.01085414 -0.77677757  0.21954807 -0.01263585 -0.78616745  0.00768079
 -0.6475606 ]

##### statsmodels

In [33]:
selected_cols_boston = boston_X_train.columns[l1.coef_ != 0]

In [34]:
selected_features = fwd_stepwise(sm.OLS, boston_X_train, boston_y_train)

/Users/akihirosanada/anaconda3/envs/sklearn2vantage/lib/python3.8/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

add LSTAT, bic = 2646.099528248655
add RM, bic = 2548.4347934614984
add PTRATIO, bic = 2497.981454825585
add DIS, bic = 2490.5366522279637
add NOX, bic = 2469.3704371092226
add B, bic = 2465.3745198268907
add CHAS, bic = 2464.525725180047

In [35]:
selected_features

['LSTAT', 'RM', 'PTRATIO', 'DIS', 'NOX', 'B', 'CHAS']

In [36]:
linear_sm = sm.OLS(boston_y_train, 
                   sm.add_constant(boston_X_train[selected_features])
                  ).fit()

In [37]:
linear_sm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             houseprice   R-squared:                       0.732
Model:                            OLS   Adj. R-squared:                  0.727
Method:                 Least Squares   F-statistic:                     154.6
Date:                Mon, 13 Jan 2020   Prob (F-statistic):          4.19e-109
Time:                        11:57:30   Log-Likelihood:                -1208.3
No. Observations:                 404   AIC:                             2433.
Df Residuals:                     396   BIC:                             2465.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         31.6184      5.298      5.968      0.000      21.202      42.035
LSTAT         -0.4918      0.053     -9.347      0.000      -0.595      -0.388
RM             4.3717      0.435     10.059      0.000       3.517       5.226
PTRATIO       -1.0373      0.122     -8.515      0.000      -1.277      -0.798
DIS           -1.1574      0.186     -6.225      0.000      -1.523      -0.792
NOX          -17.9844      3.599     -4.996      0.000     -25.061     -10.908
B              0.0085      0.003      2.930      0.004       0.003       0.014
CHAS           2.5034      0.962      2.602      0.010       0.612       4.395
==============================================================================
Omnibus:                      135.094   Durbin-Watson:                   2.045
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              550.947
Skew:                           1.428   Prob(JB):                    2.31e-120
Kurtosis:                       7.957   Cond. No.                     8.76e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.76e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

#### Scoring(SQL)

In [38]:
model_boston= make_model_table_glm(l1, boston_X.columns)

In [39]:
model_boston

    attribute    predictor category   estimate    family
0           0  (Intercept)     None  35.312343  GAUSSIAN
1           1         CRIM     None  -0.077222  GAUSSIAN
2           2           ZN     None   0.039996  GAUSSIAN
3           3        INDUS     None  -0.043103  GAUSSIAN
4           4         CHAS     None   0.000000  GAUSSIAN
5           5          NOX     None  -0.000000  GAUSSIAN
6           6           RM     None   2.032795  GAUSSIAN
7           7          AGE     None   0.010854  GAUSSIAN
8           8          DIS     None  -0.776778  GAUSSIAN
9           9          RAD     None   0.219548  GAUSSIAN
10         10          TAX     None  -0.012636  GAUSSIAN
11         11      PTRATIO     None  -0.786167  GAUSSIAN
12         12            B     None   0.007681  GAUSSIAN
13         13        LSTAT     None  -0.647561  GAUSSIAN

In [40]:
make_model_table_glm(linear_sm, isStatsmodels=True)

   attribute predictor category   estimate    family
0          0     const     None  31.618361  GAUSSIAN
1          1     LSTAT     None  -0.491772  GAUSSIAN
2          2        RM     None   4.371716  GAUSSIAN
3          3   PTRATIO     None  -1.037311  GAUSSIAN
4          4       DIS     None  -1.157450  GAUSSIAN
5          5       NOX     None -17.984378  GAUSSIAN
6          6         B     None   0.008540  GAUSSIAN
7          7      CHAS     None   2.503363  GAUSSIAN

In [41]:
load_model_glm(model_boston, engine, "linear_model_boston")

In [42]:
pd.read_sql_query("""
    select * from GLMPredict (
        on boston partition by any
        on linear_model_boston as model dimension
            order by attribute, category, predictor, estimate 
        using Accumulate(
            'id')
        Family ('GAUSSIAN')
        LinkFunction ('CANONICAL')
        ) as dt""", engine)

      id  fitted_value
0    469     18.021497
1      0     31.103136
2     61     20.156316
3    265     30.111871
4    326     25.036922
..   ...           ...
501  143     15.644845
502  490      3.419955
503  408     11.605464
504  347     26.714287
505  204     39.322911

[506 rows x 2 columns]

__Note:__ not only Lasso, but also all linear model can be conveted to model table with above process.

## NaiveBaysePredict

### GaussianNB

#### Modeling(Python)

In [57]:
from sklearn.naive_bayes import GaussianNB

In [58]:
# sample data from db
df_iris = pd.read_sql_query("select * from iris", engine)

In [59]:
df_iris.head()

    id  sepal_length  sepal_width  petal_length  petal_width  species
0   61           5.9          3.0           4.2          1.5        1
1    0           5.1          3.5           1.4          0.2        0
2   40           5.0          3.5           1.3          0.3        0
3  122           7.7          2.8           6.7          2.0        2
4   19           5.1          3.8           1.5          0.3        0

In [60]:
df_iris["species"] = df_iris["species"].astype(int)

In [61]:
iris_X = df_iris.drop(["id", "species"], axis=1)
iris_y = df_iris["species"]

In [62]:
iris_X_train, iris_X_test, iris_y_train, iris_y_test = \
    train_test_split(iris_X, iris_y, test_size=0.2, random_state=42)

In [49]:
gnb = GaussianNB().fit(iris_X_train, iris_y_train)

In [50]:
print(gnb.score(iris_X_train, iris_y_train))
print(gnb.score(iris_X_test, iris_y_test))

0.9666666666666667
0.9333333333333333

#### Scoring(SQL)

- class_nb: target class name
- variable_nb: feature name
- type_nb: "NUMERIC" or "CATEGORICAL"
- category: name of category, if applicable
- cnt: count of that class
- sum_nb: sum of the value (= cnt * mean)
- sumSq: sum of square
- totalCnt: total count of the target class

In [51]:
def make_model_table_gnb(model, feature_names):
    model_dict = [[{"class_nb": str(class_nb), "variable": feature,
                    "type_nb": "NUMERIC", "category": None,
                    "cnt": int(cnt), "sum_nb": cnt * theta, 
                    "sumSq":sigma**2 * cnt, "totalCnt": int(cnt)} 
                    for class_nb, cnt, theta, sigma
                    in zip(model.classes_, model.class_count_, model.theta_[:,i],
                           model.sigma_[:,i])]
                  for i, feature in enumerate(feature_names)]

    import itertools
    model_dict = list(itertools.chain.from_iterable(model_dict))
    return pd.DataFrame(model_dict)

In [52]:
def load_model_nb(df_model, engine, table_name):
    from sqlalchemy import Column, Integer, Float, String
    dtype_glm_model = {"class_nb":String(length=30), "variable":String(length=30),
                       "type_nb":String(length=30), "category":String(length=30),
                       "cnt":Integer, "sum_nb":Float,
                       "sumSq":Float, "totalCnt":Integer}
    df_model.to_sql(name=table_name, con=engine,
                    index=False, if_exists="replace",
                    dtype=dtype_glm_model)

In [53]:
gnb_table = make_model_table_gnb(gnb, iris_X_train.columns)
gnb_table

   class_nb      variable  type_nb category  cnt  sum_nb     sumSq  totalCnt
0         0  sepal_length  NUMERIC     None   41   204.6  0.519716        41
1         1  sepal_length  NUMERIC     None   41   243.2  3.505631        41
2         2  sepal_length  NUMERIC     None   38   251.7  7.829398        38
3         0   sepal_width  NUMERIC     None   41   139.8  0.389483        41
4         1   sepal_width  NUMERIC     None   41   113.1  0.459302        41
5         2   sepal_width  NUMERIC     None   38   113.6  0.560671        38
6         0  petal_length  NUMERIC     None   41    60.0  0.030329        41
7         1  petal_length  NUMERIC     None   41   173.4  2.222066        41
8         2  petal_length  NUMERIC     None   38   211.1  4.692840        38
9         0   petal_width  NUMERIC     None   41    10.1  0.005205        41
10        1   petal_width  NUMERIC     None   41    54.1  0.072525        41
11        2   petal_width  NUMERIC     None   38    77.6  0.160892        38

In [54]:
load_model_nb(gnb_table, engine, "model_iris_gnb")

In [55]:
pd.read_sql_query("""
select * from NaiveBayesPredict (
    on iris partition by any
    on model_iris_gnb as Model DIMENSION
    using
    IDCol ('id')
    NumericInputs ('sepal_length', 'sepal_width', 'petal_length', 'petal_width')
    Responses ('0', '1', '2')
    ) as dt
""", engine)

      id prediction  loglik_0  loglik_1  loglik_2
0     61          0  -1.07392  -1.07392 -1.149906
1      0          0  -1.07392  -1.07392 -1.149906
2     40          0  -1.07392  -1.07392 -1.149906
3    122          0  -1.07392  -1.07392 -1.149906
4     19          0  -1.07392  -1.07392 -1.149906
..   ...        ...       ...       ...       ...
145  143          0  -1.07392  -1.07392 -1.149906
146  145          0  -1.07392  -1.07392 -1.149906
147    2          0  -1.07392  -1.07392 -1.149906
148   42          0  -1.07392  -1.07392 -1.149906
149   21          0  -1.07392  -1.07392 -1.149906

[150 rows x 5 columns]

### MultinomialNB

#### data prep

In [56]:
iris_cat = df_iris.copy()
for x in iris_cat.columns[1:-1]:
    iris_cat[x] = pd.qcut(iris_cat[x], q=5, labels=[f"g_{i}" for i in range(5)])

In [57]:
iris_cat.id = iris_cat.id.astype(int)

In [58]:
iris_cat.to_csv("iris_cat.csv", index=False)

#### Modeling(Python)

In [59]:
iris_cat = pd.read_sql_query("select * from iris_cat", engine)
iris_cat.species = iris_cat.species.astype(int)

In [60]:
iris_X_cat = iris_cat.drop(["id", "species"], axis=1)

In [61]:
iris_X_cat_train, iris_X_cat_test, iris_y_train, iris_y_test = \
    train_test_split(iris_X_cat, iris_y, test_size=0.2, random_state=42)

In [62]:
from sklearn.preprocessing import OrdinalEncoder

In [63]:
enc = OrdinalEncoder()
enc.fit(iris_X_cat_train)

OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>)

In [64]:
iris_X_cat_train_e = enc.transform(iris_X_cat_train)
iris_X_cat_test_e = enc.transform(iris_X_cat_test)

In [65]:
from sklearn.naive_bayes import CategoricalNB

In [66]:
cnb = CategoricalNB()
cnb.fit(iris_X_cat_train_e, iris_y_train)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [67]:
print(cnb.score(iris_X_cat_train_e, iris_y_train))
print(cnb.score(iris_X_cat_test_e, iris_y_test))

0.9583333333333334
0.9

#### Scoring(SQL)

In [68]:
enc.categories_

[array(['g_0', 'g_1', 'g_2', 'g_3', 'g_4'], dtype=object),
 array(['g_0', 'g_1', 'g_2', 'g_3', 'g_4'], dtype=object),
 array(['g_0', 'g_1', 'g_2', 'g_3', 'g_4'], dtype=object),
 array(['g_0', 'g_1', 'g_2', 'g_3', 'g_4'], dtype=object)]

In [69]:
category_dict = {col:categories
                for col, categories
                in zip(iris_X_cat_train.columns,
                       enc.categories_)}

In [70]:
def make_model_table_cnb(model, category_dict):
    model_dict = [[[{"class_nb": str(class_nb), "variable": feature,
                     "type_nb": "CATEGORICAL", 
                     "category": category,
                     "cnt": int(cnt_category), "sum_nb": None, 
                     "sumSq":None, "totalCnt": int(cnt_class)}
                    for category, cnt_category
                    in zip(category_dict[feature], cnt_categories)]
                   for class_nb, cnt_class, cnt_categories
                   in zip(model.classes_, model.class_count_, cnt_category_class)]
                  for feature, cnt_category_class
                  in zip(category_dict.keys(), model.category_count_)]

    import itertools
    model_dict = list(itertools.chain.from_iterable(model_dict))
    model_dict = list(itertools.chain.from_iterable(model_dict))
    return pd.DataFrame(model_dict)

In [71]:
cnb_table = make_model_table_cnb(cnb, category_dict)
cnb_table.head()

  class_nb      variable      type_nb category  cnt sum_nb sumSq  totalCnt
0        0  sepal_length  CATEGORICAL      g_0   25   None  None        41
1        0  sepal_length  CATEGORICAL      g_1   14   None  None        41
2        0  sepal_length  CATEGORICAL      g_2    2   None  None        41
3        0  sepal_length  CATEGORICAL      g_3    0   None  None        41
4        0  sepal_length  CATEGORICAL      g_4    0   None  None        41

In [72]:
load_model_nb(cnb_table, engine, "model_iris_cnb")

In [73]:
pd.read_sql_query("""
select * from NaiveBayesPredict (
    on iris_cat partition by any
    on model_iris_cnb as Model DIMENSION
    using
    IDCol ('id')
    CategoricalInputs ('sepal_length', 'sepal_width', 'petal_length', 'petal_width')
    Responses ('0', '1', '2')
    ) as dt
""", engine)

      id prediction   loglik_0   loglik_1   loglik_2
0     61          1 -13.210431  -4.448516 -10.089913
1      0          0  -3.934713 -13.903579 -14.115265
2     40          0  -4.112905 -12.604296 -14.115265
3    122          2 -14.309044 -11.475830  -4.121571
4     19          0  -4.662952 -11.505683 -14.115265
..   ...        ...        ...        ...        ...
145  143          2 -13.749428 -12.517284  -4.814718
146  145          2 -14.309044  -9.173245  -4.591574
147    2          0  -3.690048 -13.210431 -13.422117
148   42          0  -3.690048 -13.210431 -13.422117
149   21          0  -4.662952 -11.505683 -14.115265

[150 rows x 5 columns]

## DecisionTreePredict

### DecisionTreeClassifier

#### data prep

>```sql
engine.execute("""
create table iris_attribute_test as (
    SELECT id as pid, attribute, attrvalue FROM TD_UNPIVOT (
        ON iris
        USING 
            value_columns('attrvalue')
            unpivot_column('attribute')
            column_list('sepal_length', 'sepal_width', 'petal_length', 'petal_width')
    ) ts
) with data unique primary index (pid, attribute);
""")
```

#### Modeling(Python)

In [55]:
from sklearn.tree import DecisionTreeClassifier

In [63]:
dtc = DecisionTreeClassifier(max_depth=3)
dtc.fit(iris_X_train, iris_y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

#### Scoring(SQL)

In [76]:
def make_model_table_tree(model, feature_names):
    is_split_node = model.tree_.children_left != -1
    n_split_node = is_split_node.sum()
    null_col = np.repeat(None, n_split_node)
    blank_col = np.repeat("", n_split_node)
    children_left = model.tree_.children_left[is_split_node]
    children_right = model.tree_.children_right[is_split_node]
    func = lambda x: model.classes_[np.argmax(x)]
    votes = model.tree_.value.squeeze()
    labels = np.apply_along_axis(func, 1, votes)
    majorvotes = votes.max(axis=1)
    size = model.tree_.n_node_samples
    features = feature_names[model.tree_.feature]
    probs = votes/votes.sum(axis=1).reshape(-1,1)

    tree_table = pd.DataFrame({"node_id":np.where(is_split_node)[0],
                  "node_size":size[is_split_node],
                  "node_gini":model.tree_.impurity[is_split_node],
                  "node_entropy":null_col,
                  "node_chisq_pv":null_col,
                  "node_label":labels[is_split_node],
                  "node_majorvotes":majorvotes[is_split_node],
                  "split_value":model.tree_.threshold[is_split_node],
                  "split_gini":null_col,
                  "split_entropy":null_col,
                  "split_chisq_pv":null_col,
                  "left_id":children_left,
                  "left_size":size[children_left],
                  "left_label":labels[children_left],
                  "left_majorvotes":majorvotes[children_left],
                  "right_id":children_right,
                  "right_size":size[children_right],
                  "right_label":labels[children_right],
                  "right_majorvotes":null_col,
                  "left_bucket":blank_col,
                  "right_bucket":blank_col,
                  "left_label_probdist":[",".join([f"{val:.5f}" for val in val]) 
                                         for val in probs[children_left]],
                  "right_label_probdist":[",".join([f"{val:.5f}" for val in val]) 
                                         for val in probs[children_right]],
                  "prob_label_order":[",".join(list(model.classes_.astype(str)))] \
                                 * n_split_node,
                  "attribute":list(features[is_split_node])})
    
    split_nodes = list(np.where(is_split_node)[0])
    replace_dict = {}

    for i in range(len(split_nodes)):
        split_node = split_nodes.pop(0)
        replace_dict[children_left[i]] = split_node * 2 + 1
        replace_dict[children_right[i]] = split_node * 2 + 2
        split_nodes = [replace_dict[val] if val in replace_dict else val
                       for val in split_nodes]
    
    tree_table[["node_id", "left_id", "right_id"]] = \
        tree_table[["node_id", "left_id", "right_id"]].replace(replace_dict)
    
    return tree_table

In [23]:
from sqlalchemy import Integer, Float, String

In [16]:
def load_model_tree(df_model, engine, table_name):
    max_len = lambda x: df_model[x].str.len().max()
    dtype_tree_model = {"node_id":Integer, "node_size":Integer,
                      "node_gini":Float, "node_entropy":Float,
                      "node_chisq_pv":Float, "node_label":String(length=30),
                      "node_majorvotes":Integer, "split_value":Float,
                      "split_gini":Float, "split_entropy":Float,
                      "split_chisq_pv":Float, "left_id":Integer,
                      "left_size":Integer, "left_label":String(length=30),
                      "left_majorvotes":Integer, "right_id":Integer,
                      "right_size":Integer, "right_label":String(length=30),
                      "right_majorvotes":Integer, "left_bucket":String(length=30),
                      "right_bucket":String(length=30),
                      "left_label_probdist":String(length=max_len("left_label_probdist")),
                      "right_label_probdist":String(length=max_len("right_label_probdist")),
                      "prob_label_order":String(length=max_len("prob_label_order")),
                      "attribute":String(length=max_len("attribute"))}
    df_model.to_sql(name=table_name, con=engine,
                    index=False, if_exists="replace",
                    dtype=dtype_tree_model)

In [64]:
model_dtc = make_model_table_tree(dtc, iris_X_train.columns)
def display_all(df:pd.DataFrame)->None:
    with pd.option_context("display.max_columns", 1000):
        display(df)

display_all(model_dtc.head())

,node_id,node_size,node_gini,node_entropy,node_chisq_pv,node_label,node_majorvotes,split_value,split_gini,split_entropy,split_chisq_pv,left_id,left_size,left_label,left_majorvotes,right_id,right_size,right_label,right_majorvotes,left_bucket,right_bucket,left_label_probdist,right_label_probdist,prob_label_order,attribute
0,0,120,0.666250,None,None,0,41.0,2.45,None,None,None,1,41,0,41.0,2,79,1,None,,,"1.00000,0.00000,0.00000","0.00000,0.51899,0.48101","0,1,2",petal_length
1,2,79,0.499279,None,None,1,41.0,1.75,None,None,None,5,43,1,40.0,6,36,2,None,,,"0.00000,0.93023,0.06977","0.00000,0.02778,0.97222","0,1,2",petal_width
2,5,43,0.129800,None,None,1,40.0,4.95,None,None,None,11,40,1,39.0,12,3,2,None,,,"0.00000,0.97500,0.02500","0.00000,0.33333,0.66667","0,1,2",petal_length
3,6,36,0.054012,None,None,2,35.0,4.85,None,None,None,13,3,2,2.0,14,33,2,None,,,"0.00000,0.33333,0.66667","0.00000,0.00000,1.00000","0,1,2",petal_length

In [65]:
load_model_tree(model_dtc, engine, "dt_iris")

In [67]:
",".join(model_dtc.columns)

'node_id,node_size,node_gini,node_entropy,node_chisq_pv,node_label,node_majorvotes,split_value,split_gini,split_entropy,split_chisq_pv,left_id,left_size,left_label,left_majorvotes,right_id,right_size,right_label,right_majorvotes,left_bucket,right_bucket,left_label_probdist,right_label_probdist,prob_label_order,attribute'

In [ ]:
df_result = pd.read_sql_query("""
SELECT * FROM DecisionTreePredict (
    ON iris_attribute_test AS attribute_table
        partition by pid order by attribute
    ON dt_iris as model_table DIMENSION
    USING
    AttrTableGroupbyColumns ('attribute')
    AttrTablePIDColumns ('pid')
    AttrTableValColumn ('attrvalue')
    OutputResponseProbDist ('true')
    Responses ('0', '1', '2')
  ) AS dt
""", engine)

In [70]:
pd.read_sql_query("""
with tmp as (
    select 
        node_id, node_size,node_gini,node_entropy
        ,node_chisq_pv,node_label,null as node_majorvotes
        ,split_value
        ,split_gini,split_entropy,split_chisq_pv,left_id,left_size
        ,left_label
        ,null as left_majorvotes
        ,right_id,right_size,right_label
        ,null as right_majorvotes
        ,left_bucket,right_bucket,null as left_label_probdist
        ,null as right_label_probdist, null as prob_label_order
        ,attribute
    from dt_iris
)
SELECT * FROM DecisionTreePredict (
    ON iris_attribute_test AS attribute_table
        partition by pid order by attribute
    ON tmp as model_table DIMENSION
    USING
    AttrTableGroupbyColumns ('attribute')
    AttrTablePIDColumns ('pid')
    AttrTableValColumn ('attrvalue')
  ) AS dt
""", engine)

     pid            pred_label
0      1                     0
1      0                     0
2      2                     0
3      9                     0
4      3                     0
..   ...                   ...
145  143                     2
146  146                     2
147  147                     2
148  148                     2
149  149                     2

[150 rows x 2 columns]

In [82]:
df_result.head()

,pid,pred_label,prob_for_label_0,prob_for_label_1,prob_for_label_2
0,1,0,1.0,0.0,0.0
1,0,0,1.0,0.0,0.0
2,2,0,1.0,0.0,0.0
3,9,0,1.0,0.0,0.0
4,3,0,1.0,0.0,0.0

In [83]:
pd.read_sql_query("select top 5 * from iris_attribute_test", engine)

   pid     attribute  attrvalue
0    0  petal_length        1.4
1  122  sepal_length        7.7
2    0   petal_width        0.2
3    0   sepal_width        3.5
4    0  sepal_length        5.1

In [84]:
pd.read_sql_query("""
SELECT * FROM DecisionTreePredict (
    ON iris_attribute_test AS attribute_table
        partition by pid order by attribute
    ON dt_iris as model_table DIMENSION
    USING
    AttrTableGroupbyColumns ('attribute')
    AttrTablePIDColumns ('pid')
    AttrTableValColumn ('attrvalue')
  ) AS dt
""", engine).head()

   pid            pred_label
0    1                     0
1    0                     0
2    2                     0
3    9                     0
4    3                     0

### DecisionTreeRegressor

At now, Vantage only support DecisionTree for Classification, not Regression.

In [170]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(max_depth=6)

In [171]:
dtr.fit(boston_X_train, boston_y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=6,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [172]:
dtr.tree_.value.squeeze()

array([22.35321782, 19.75988372, 23.38      , 44.475     , 27.9       ,
       50.        , 22.9494898 , 21.76753247, 20.48765432, 23.66      ,
       20.27894737, 23.18767123, 31.5       , 22.83142857, 27.28333333,
       30.34166667, 31.825     , 27.375     , 26.06      , 29.23333333,
       25.26666667, 14.73194444, 18.1462963 , 20.32142857, 20.95      ,
       19.32222222, 22.07692308, 18.01666667, 19.15      , 15.75      ,
       15.80384615, 15.336     , 10.95      , 15.7173913 , 27.5       ,
       12.68333333, 15.41463415, 15.75789474, 18.12      , 15.4       ,
       11.06666667, 10.25      , 12.7       , 10.39795918, 14.27777778,
       15.45      , 13.34      ,  9.525     , 12.68333333,  8.96764706,
       37.22166667, 31.5       , 33.15483871, 33.73571429, 31.05714286,
       33.02      , 26.15      , 34.62857143, 41.3       , 34.295     ,
       27.73333333, 31.5       , 25.85      , 26.7       , 25.        ,
       14.4       , 10.4       , 16.4       , 17.8       , 15.        ,
       44.70384615, 45.616     , 44.23157895, 44.73333333, 45.82857143,
       40.9       , 35.2       , 50.        , 21.9       ])

In [165]:
def make_model_table_tree(model, feature_names, isRegression=False):
    is_split_node = model.tree_.children_left != -1
    n_split_node = is_split_node.sum()
    null_col = np.repeat(None, n_split_node)
    blank_col = np.repeat("", n_split_node)
    children_left = model.tree_.children_left[is_split_node]
    children_right = model.tree_.children_right[is_split_node]
    
    if isRegression:
        labels = np.array(
            [f"{val:.10f}" for val in model.tree_.value.squeeze()])
        majorvotes = np.repeat(None, len(is_split_node))
        probs = np.repeat(None, len(is_split_node))
        left_label_prob = right_label_prob = prob_label_order \
            = null_col
    else:
        func = lambda x: model.classes_[np.argmax(x)]
        votes = model.tree_.value.squeeze()
        labels = np.apply_along_axis(func, 1, votes)
        majorvotes = votes.max(axis=1)
        probs = votes/votes.sum(axis=1).reshape(-1,1)
        left_label_prob = [",".join([f"{val:.5f}" for val in val]) 
                                for val in probs[children_left]]
        right_label_prob = [",".join([f"{val:.5f}" for val in val]) 
                                for val in probs[children_right]]
        prob_label_order = [",".join(list(model.classes_.astype(str)))] \
                                 * n_split_node
    
    size = model.tree_.n_node_samples
    features = feature_names[model.tree_.feature]    

    tree_table = pd.DataFrame({"node_id":np.where(is_split_node)[0],
                  "node_size":size[is_split_node],
                  "node_gini":model.tree_.impurity[is_split_node],
                  "node_entropy":null_col,
                  "node_chisq_pv":null_col,
                  "node_label":labels[is_split_node],
                  "node_majorvotes":majorvotes[is_split_node],
                  "split_value":model.tree_.threshold[is_split_node],
                  "split_gini":null_col,
                  "split_entropy":null_col,
                  "split_chisq_pv":null_col,
                  "left_id":children_left,
                  "left_size":size[children_left],
                  "left_label":labels[children_left],
                  "left_majorvotes":majorvotes[children_left],
                  "right_id":children_right,
                  "right_size":size[children_right],
                  "right_label":labels[children_right],
                  "right_majorvotes":null_col,
                  "left_bucket":blank_col,
                  "right_bucket":blank_col,
                  "left_label_probdist":left_label_prob,
                  "right_label_probdist":right_label_prob,
                  "prob_label_order":prob_label_order,
                  "attribute":list(features[is_split_node])})
    
    split_nodes = list(np.where(is_split_node)[0])
    def get_node(idx, node_id, children_left,
                 children_right, is_split_node, split_nodes):
        tmp_dict = {}
        left_node_id = children_left[idx]
        right_node_id = children_right[idx]
        tmp_dict[left_node_id] = node_id * 2 + 1
        tmp_dict[right_node_id] = node_id * 2 + 2
        if left_node_id in split_nodes:
            tmp_dict.update(
                get_node(np.where(split_nodes==left_node_id)[0].item(),
                         node_id * 2 + 1, children_left, children_right, 
                         is_split_node, split_nodes))
        if right_node_id in split_nodes:
            tmp_dict.update(
                get_node(np.where(split_nodes==right_node_id)[0].item(),
                         node_id * 2 + 2, children_left, children_right, 
                         is_split_node, split_nodes))
        return tmp_dict
    replace_dict = get_node(0, 0, children_left, children_right, 
                            is_split_node, split_nodes)
    tree_table[["node_id", "left_id", "right_id"]] = \
        tree_table[["node_id", "left_id", "right_id"]].replace(replace_dict)
    
    return tree_table

In [173]:
dtr_table = make_model_table_tree(dtr, 
                                  boston_X_train.columns, 
                                  isRegression=True)

In [167]:
with pd.option_context("display.max_columns", 1000):
    display(dtr_table.sort_values(by="node_id"))

,node_id,node_size,node_gini,node_entropy,node_chisq_pv,node_label,node_majorvotes,split_value,split_gini,split_entropy,split_chisq_pv,left_id,left_size,left_label,left_majorvotes,right_id,right_size,right_label,right_majorvotes,left_bucket,right_bucket,left_label_probdist,right_label_probdist,prob_label_order,attribute
0,0,404,86.560559,None,None,22.3532178218,None,6.941000,None,None,None,1,344,19.7598837209,None,2,60,37.2216666667,None,,,None,None,None,RM
1,1,344,41.694321,None,None,19.7598837209,None,14.400000,None,None,None,3,200,23.3800000000,None,4,144,14.7319444444,None,,,None,None,None,LSTAT
14,2,60,84.164031,None,None,37.2216666667,None,7.437000,None,None,None,5,34,31.5000000000,None,6,26,44.7038461538,None,,,None,None,None,RM
2,3,200,25.291300,None,None,23.3800000000,None,1.384850,None,None,None,7,4,44.4750000000,None,8,196,22.9494897959,None,,,None,None,None,DIS
7,4,144,20.994396,None,None,14.7319444444,None,0.607000,None,None,None,9,54,18.1462962963,None,10,90,12.6833333333,None,,,None,None,None,NOX
15,5,34,41.901765,None,None,31.5000000000,None,6.989625,None,None,None,11,31,33.1548387097,None,12,3,14.4000000000,None,,,None,None,None,CRIM
21,6,26,40.636524,None,None,44.7038461538,None,8.752500,None,None,None,13,25,45.6160000000,None,14,1,21.9000000000,None,,,None,None,None,RM
3,7,4,91.576875,None,None,44.4750000000,None,10.830000,None,None,None,15,3,50.0000000000,None,16,1,27.9000000000,None,,,None,None,None,LSTAT
4,8,196,14.671581,None,None,22.9494897959,None,6.542000,None,None,None,17,154,21.7675324675,None,18,42,27.2833333333,None,,,None,None,None,RM
8,9,54,14.321375,None,None,18.1462962963,None,0.539810,None,None,None,19,28,20.3214285714,None,20,26,15.8038461538,None,,,None,None,None,CRIM
11,10,90,13.806722,None,None,12.6833333333,None,19.645000,None,None,None,21,41,15.4146341463,None,22,49,10.3979591837,None,,,None,None,None,LSTAT
16,11,31,14.019896,None,None,33.1548387097,None,7.500000,None,None,None,23,28,33.7357142857,None,24,3,27.7333333333,None,,,None,None,None,RAD
19,12,3,9.306667,None,None,14.4000000000,None,16.974999,None,None,None,25,2,16.4000000000,None,26,1,10.4000000000,None,,,None,None,None,LSTAT
22,13,25,20.629344,None,None,45.6160000000,None,0.576815,None,None,None,27,19,44.2315789474,None,28,6,50.0000000000,None,,,None,None,None,CRIM
5,17,154,8.879985,None,None,21.7675324675,None,6.098500,None,None,None,35,81,20.4876543210,None,36,73,23.1876712329,None,,,None,None,None,RM
6,18,42,12.002817,None,None,27.2833333333,None,269.000000,None,None,None,37,12,30.3416666667,None,38,30,26.0600000000,None,,,None,None,None,TAX
9,19,28,7.123827,None,None,20.3214285714,None,6.016300,None,None,None,39,22,20.9500000000,None,40,6,18.0166666667,None,,,None,None,None,DIS
10,20,26,11.490370,None,None,15.8038461538,None,6.754500,None,None,None,41,25,15.3360000000,None,42,1,27.5000000000,None,,,None,None,None,RM
12,21,41,6.187591,None,None,15.4146341463,None,12.223600,None,None,None,43,38,15.7578947368,None,44,3,11.0666666667,None,,,None,None,None,CRIM
13,22,49,8.716935,None,None,10.3979591837,None,551.500000,None,None,None,45,9,14.2777777778,None,46,40,9.5250000000,None,,,None,None,None,TAX
17,23,28,11.223724,None,None,33.7357142857,None,2.500000,None,None,None,47,7,31.0571428571,None,48,21,34.6285714286,None,,,None,None,None,RAD
18,24,3,7.575556,None,None,27.7333333333,None,7.209500,None,None,None,49,2,25.8500000000,None,50,1,31.5000000000,None,,,None,None,None,RM
20,25,2,1.960000,None,None,16.4000000000,None,15.090000,None,None,None,51,1,15.0000000000,None,52,1,17.8000000000,None,,,None,None,None,LSTAT
23,27,19,19.157950,None,None,44.2315789474,None,6.580000,None,None,None,55,18,44.7333333333,None,56,1,35.2000000000,None,,,None,None,None,INDUS

In [75]:
def load_model_tree(df_model, engine, table_name):
    max_len = lambda x: int(np.nan_to_num(
        df_model[x].str.len().max(), nan=30))
    dtype_tree_model = {"node_id":Integer, 
                        "node_size":Integer,
                        "node_gini":Float, 
                        "node_entropy":Float,
                        "node_chisq_pv":Float, 
                        "node_label":String(length=30),
                        "node_majorvotes":Integer, 
                        "split_value":Float,
                        "split_gini":Float, 
                        "split_entropy":Float,
                        "split_chisq_pv":Float, 
                        "left_id":Integer,
                        "left_size":Integer, 
                        "left_label":String(length=30),
                        "left_majorvotes":Integer, 
                        "right_id":Integer,
                        "right_size":Integer, 
                        "right_label":String(length=30),
                        "right_majorvotes":Integer, 
                        "left_bucket":String(length=30),
                        "right_bucket":String(length=30),
                        "left_label_probdist":
                        String(length=max_len("left_label_probdist")),
                        "right_label_probdist":
                        String(length=max_len("right_label_probdist")),
                      "prob_label_order":
                        String(length=max_len("prob_label_order")),
                      "attribute":
                        String(length=max_len("attribute"))}
    df_model.to_sql(name=table_name, con=engine,
                    index=False, if_exists="replace",
                    dtype=dtype_tree_model)

In [174]:
load_model_tree(dtr_table, engine, "dtr_boston")

In [160]:
with pd.option_context("display.max_columns", 1000):
    display(pd.read_sql_query("select * from dtr_boston", engine).head())

,node_id,node_size,node_gini,node_entropy,node_chisq_pv,node_label,node_majorvotes,split_value,split_gini,split_entropy,split_chisq_pv,left_id,left_size,left_label,left_majorvotes,right_id,right_size,right_label,right_majorvotes,left_bucket,right_bucket,left_label_probdist,right_label_probdist,prob_label_order,attribute
0,7,4,91.576875,None,None,44.4750000000,None,5.741500,None,None,None,15,1,27.9000000000,None,16,3,50.0000000000,None,,,None,None,None,RM
1,0,404,86.560559,None,None,22.3532178218,None,6.941000,None,None,None,1,344,19.7598837209,None,2,60,37.2216666667,None,,,None,None,None,RM
2,5,34,41.901765,None,None,31.5000000000,None,0.659000,None,None,None,11,31,33.1548387097,None,12,3,14.4000000000,None,,,None,None,None,NOX
3,13,25,20.629344,None,None,45.6160000000,None,0.576815,None,None,None,27,19,44.2315789474,None,28,6,50.0000000000,None,,,None,None,None,CRIM
4,3,200,25.291300,None,None,23.3800000000,None,1.384850,None,None,None,7,4,44.4750000000,None,8,196,22.9494897959,None,,,None,None,None,DIS

In [48]:
df_boston.columns

Index(['id', 'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT', 'houseprice'],
      dtype='object')

In [79]:
engine.execute("drop table boston_unpivot")
engine.execute("""
create table boston_unpivot as (
    SELECT id as pid, attribute, attrvalue FROM TD_UNPIVOT (
        ON boston
        USING 
            value_columns('attrvalue')
            unpivot_column('attribute')
            column_list('CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX'
                ,'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO'
                ,'B', 'LSTAT')
    ) ts
) with data unique primary index (pid, attribute);
""")

In [175]:
pd.read_sql_query("""
SELECT pid, cast(pred_label as float) FROM DecisionTreePredict (
    ON boston_unpivot AS attribute_table
        partition by pid order by attribute
    ON dtr_boston as model_table DIMENSION
    USING
    AttrTableGroupbyColumns ('attribute')
    AttrTablePIDColumns ('pid')
    AttrTableValColumn ('attrvalue')
  ) AS dt
""", engine).head()

   pid  pred_label
0    1   22.831429
1    0   25.266667
2    2   33.020000
3    9   19.150000
4    3   34.295000

## DecisionForestPredict

In [85]:
import sklearn
sklearn.__version__

'0.22'

In [86]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomTreesEmbedding

## SVMSparsePredict

モデルテーブルがバイナリ形式のため断念