# TDLoad wapper

In [3]:
# create sample data
import pandas as pd
df_sample = pd.DataFrame({"c_int":[1,2,3,4], "c_float":[1.2, -0.3, 0.9, 1.5],
                         "c_bool":[True,False,True,False], 
                          "c_string":["a", "b", "c", "d"],
                         "c_list":[[1,2,3], [4,5,6], [7,8,9], [1,2,3]],
                         "c_timedelta":pd.to_timedelta(["00:01:02", "00:03:01",
                                                     "05:02:01", "1:01:08"]),
                         "c_date":pd.to_datetime(["2020/1/1","1998/12/2",
                                                   "1980/4/1","2008/1/1"]),
                         "c_timestamp":pd.to_datetime(["2020/1/1 10:10:10.09",
                                                   "2020/1/1 10:10:10",
                                                   "2020/1/1 10:10",
                                                   "2020/1/1 10:10:05"])})
df_sample.head()

,c_int,c_float,c_bool,c_string,c_list,c_timedelta,c_date,c_timestamp
0,1,1.2,True,a,"[1, 2, 3]",00:01:02,2020-01-01,2020-01-01 10:10:10.090
1,2,-0.3,False,b,"[4, 5, 6]",00:03:01,1998-12-02,2020-01-01 10:10:10.000
2,3,0.9,True,c,"[7, 8, 9]",05:02:01,1980-04-01,2020-01-01 10:10:00.000
3,4,1.5,False,d,"[1, 2, 3]",01:01:08,2008-01-01,2020-01-01 10:10:05.000

In [4]:
import time

In [3]:
# 1. save csv
source_path = "tmp_file.csv"
tmp_csv_filename = source_path
df_sample.to_csv(tmp_csv_filename, index=False)

In [100]:
df_sample = pd.read_csv(source_path)

In [5]:
# 2. create table
from sqlalchemy import create_engine
engine = create_engine("teradata://dbc:dbc@192.168.43.24:1025/tdwork")

In [6]:
df_sample["c_int"].dtype.name

'int64'

In [101]:
[col.dtype.name for _, col in df_sample.iteritems()]

['int64', 'float64', 'bool', 'object', 'object', 'object', 'object', 'object']

In [6]:
from sqlalchemy import Integer, Float, String
import sqlalchemy

In [9]:
df_sample[["c_bool", "c_timedelta", "c_date", "c_timestamp"]].astype(str)

,c_bool,c_timedelta,c_date,c_timestamp
0,True,0 days 00:01:02.000000000,2020-01-01 00:00:00.000,2020-01-01 10:10:10.090
1,False,0 days 00:03:01.000000000,1998-12-02 00:00:00.000,2020-01-01 10:10:10.000
2,True,0 days 05:02:01.000000000,1980-04-01 00:00:00.000,2020-01-01 10:10:00.000
3,False,0 days 01:01:08.000000000,2008-01-01 00:00:00.000,2020-01-01 10:10:05.000

In [7]:
def dtype_parser(series:pd.Series)->str:
    if series.dtype.name == "int64":
        parsed_dtype = "Integer"
    elif series.dtype.name == "float64":
        parsed_dtype = "float"
    else:
        max_length = max(series.astype(str).str.len()) + 5 # add 5 length
        parsed_dtype = f"varchar({max_length})"
    return parsed_dtype

In [103]:
dtypes = [dtype_parser(col) for _, col in df_sample.iteritems()]
dtypes

['Integer',
 'float',
 'varchar(10)',
 'varchar(6)',
 'varchar(14)',
 'varchar(30)',
 'varchar(28)',
 'varchar(28)']

In [104]:
tablename = "tdwork.df_sample"
column_query_part = "\n    ,".join(
    [f"{name} {dtype_parser(col)}" for name, col in df_sample.iteritems()])
index_query_part = "no primary index"

query = """
create table {tablename} (
    {column_query_part}
) {index_query_part}
""".format(tablename=tablename, column_query_part=column_query_part,
           index_query_part=index_query_part)

In [105]:
print(query)

create table tdwork.df_sample (
    c_int Integer
    ,c_float float
    ,c_bool varchar(10)
    ,c_string varchar(6)
    ,c_list varchar(14)
    ,c_timedelta varchar(30)
    ,c_date varchar(28)
    ,c_timestamp varchar(28)
) no primary index

In [ ]:
pd.read_sql_query("""
select * from dbc.TablesV
where TableKind = 'T'
and TableName = '{tablename}'
and DatabaseName = '{working_db}'""".format(working_db=working_db,
                                           tablename=tablename)
                  ,engine)

In [8]:
def drop_if_exists(tablename:str, dbname:str)->None:
    table_list = pd.read_sql_query(
        """select * from dbc.TablesV
        where TableName = '{tablename}'
        and DatabaseName = '{dbname}'""".format(
            dbname=dbname, tablename=tablename)
        ,engine)
    if len(table_list) > 0:
        engine.execute(f"drop table {dbname}.{tablename}")

In [106]:
drop_if_exists("df_sample", "tdwork")

In [107]:
engine.execute(query)

In [108]:
pd.read_sql_query(f"show table {tablename}", engine)

                                        Request Text
0  CREATE MULTISET TABLE tdwork.df_sample ,FALLBA...

In [9]:
# 3. copy data to server
import paramiko
import scp

In [21]:
paramiko.__version__

'2.6.0'

In [117]:
target_path = "~/tmp_file.csv"

with paramiko.SSHClient() as sshc:
    sshc.set_missing_host_key_policy(paramiko.AutoAddPolicy())
    sshc.connect(hostname="192.168.43.24", port=22, username="root",
                 password="root", pkey=None)
    
    with scp.SCPClient(sshc.get_transport()) as scpc:
        scpc.put(source_path, target_path)

In [109]:
hostname = "192.168.43.24"
username = "dbc"
password = "dbc"
jobname = "jobload_tmp2"
tablename = "tdwork.df_sample"
working_db = "tdwork"
options = "--SourceSkipRows 1" + " --DCPQuotedData 'Optional'"

tdload_command = (f"tdload -f {target_path} -t {tablename} -h {hostname}"
                  + f" --TargetWorkingDatabase {working_db}"
                  + f" -u {username} -p {password} {options} {jobname}")
tdload_command

"tdload -f ~/tmp_file.csv -t tdwork.df_sample -h 192.168.43.24 --TargetWorkingDatabase tdwork -u dbc -p dbc --SourceSkipRows 1 --DCPQuotedData 'Optional' jobload_tmp2"

In [110]:
drop_if_exists("df_sample_ET", "tdwork")

In [111]:
drop_if_exists("df_sample_UV", "tdwork")

In [44]:
!cat tmp_file.csv

c_int,c_float,c_bool,c_string,c_list,c_timedelta,c_date,c_timestamp
1,1.2,True,a,"[1, 2, 3]",0 days 00:01:02.000000000,2020-01-01 00:00:00.000,2020-01-01 10:10:10.090
2,-0.3,False,b,"[4, 5, 6]",0 days 00:03:01.000000000,1998-12-02 00:00:00.000,2020-01-01 10:10:10.000
3,0.9,True,c,"[7, 8, 9]",0 days 05:02:01.000000000,1980-04-01 00:00:00.000,2020-01-01 10:10:00.000
4,1.5,False,d,"[1, 2, 3]",0 days 01:01:08.000000000,2008-01-01 00:00:00.000,2020-01-01 10:10:05.000

In [112]:
# 4. load data to table

with paramiko.SSHClient() as sshc:
    sshc.load_system_host_keys()
    sshc.set_missing_host_key_policy(paramiko.AutoAddPolicy())
    sshc.connect(hostname="192.168.43.24", port=22, username="root",
                 password="root")
    
    stdin, stdout, stderr = sshc.exec_command(tdload_command)
    for line in stdout:
        print(line)

Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobload_tmp2-13.out

Job id is jobload_tmp2-13, running on TDExpress1620_Sles11

Found CheckPoint file: /opt/teradata/client/16.20/tbuild/checkpoint/jobload_tmp2LVCP

This is a restart job; it restarts at step MAIN_STEP.

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

$FILE_READER[1]: TPT19011 Instance 1 restarting.

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: DataConnector Producer operator Instances: 1

$FILE_READER[1]: ECI operator ID: '$FILE_READER-10966'

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$FILE_READER[1]: Operator instance 1 processing file '/root/tmp_file.csv'.

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.df_sample'

$LOAD: Total Rows Sent To RDBMS:      4

$LOAD: Total Rows Applied:            4

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.000

$LOAD:     Elapsed time from start to Acquisition phase:   2 second(s)

$LOAD:     Elapsed time in Acquisition phase:   4 second(s)

$LOAD:     Elapsed time in Application phase: < 1 second

$LOAD:     Elapsed time from Application phase to end: < 1 second

$LOAD: Total processor time used = '0.096006 Second(s)'

$LOAD: Start : Sat Jan 25 02:10:33 2020

$LOAD: End   : Sat Jan 25 02:10:39 2020

Job step MAIN_STEP completed successfully

Job jobload_tmp2 completed successfully

Job start: Sat Jan 25 02:10:33 2020

Job end:   Sat Jan 25 02:10:39 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

In [113]:
pd.read_sql_query("select * from tdwork.df_sample", engine)

,c_int,c_float,c_bool,c_string,c_list,c_timedelta,c_date,c_timestamp
0,1,1.2,True,a,"[1, 2, 3]",0 days 00:01:02.000000000,2020-01-01 00:00:00.000,2020-01-01 10:10:10.090
1,2,-0.3,False,b,"[4, 5, 6]",0 days 00:03:01.000000000,1998-12-02 00:00:00.000,2020-01-01 10:10:10.000
2,3,0.9,True,c,"[7, 8, 9]",0 days 05:02:01.000000000,1980-04-01 00:00:00.000,2020-01-01 10:10:00.000
3,4,1.5,False,d,"[1, 2, 3]",0 days 01:01:08.000000000,2008-01-01 00:00:00.000,2020-01-01 10:10:05.000

In [ ]:
# 4. load data to table

with paramiko.SSHClient() as sshc:
    sshc.load_system_host_keys()
    sshc.set_missing_host_key_policy(paramiko.AutoAddPolicy())
    sshc.connect(hostname="192.168.43.24", port=22, username="root",
                 password="root")
    
    stdin, stdout, stderr = sshc.exec_command(tdload_command)
    for line in stdout:
        print(line)

In [115]:
engine.__class__

sqlalchemy.engine.base.Engine

In [118]:
sshc.__class__

paramiko.client.SSHClient

In [50]:
re.sub(r"index", "idx", "index")

'idx'

In [17]:
pd.Series(["a"])

0    a
dtype: object

In [31]:
import re

In [51]:
def tableIsExist(tablename:str, dbname:str,
                 engine:sqlalchemy.engine.base.Engine)->bool:
    table_list = pd.read_sql_query(
        """select * from dbc.TablesV
        where TableName = '{tablename}'
        and DatabaseName = '{dbname}'""".format(
            dbname=dbname, tablename=tablename)
        ,engine)
    return True if len(table_list) > 0 else False

def dropIfExists(tablename:str, dbname:str,
                engine:sqlalchemy.engine.base.Engine)->None:
    if tableIsExist(tablename,dbname,engine):
        engine.execute(f"drop table {dbname}.{tablename}")
        print(f"droped table {dbname}.{tablename}")
        
def dtypeParser(series:pd.Series)->str:
    if series.dtype.name == "int64":
        parsed_dtype = "Integer"
    elif series.dtype.name == "float64":
        parsed_dtype = "float"
    else:
        max_length = max(series.astype(str).str.len()) + 5 # add 5 length
        parsed_dtype = f"varchar({max_length})"
    return parsed_dtype

def renameColumns(series:pd.Series)->pd.Series():
    res = (series.astype(str).str
           .replace(r"\s","_", regex=True)
           .replace(r"\W","", regex=True)
           .replace(r"^(\d)", "col_\\1", regex=True)
           .replace("index", "idx"))
    return res
        
def createTable(df:pd.DataFrame, 
                engine:sqlalchemy.engine.base.Engine,
                tablename:str, dbname:str=None,
                overwrite:bool=False, indexList:list=None,
                isIndexUnique:bool=True)->None:
    if dbname is None: dbname = engine.url.database
    new_names = renameColumns(df.columns.to_series())
    col_dtype = [dtypeParser(col) for _, col in df.iteritems()]
    column_query_part = "\n    ,".join(
        [f"{name} {dtype}" for name, dtype 
         in zip(new_names, col_dtype)]
    )
    if indexList:
        idxSeries = pd.Series(indexList).astype(str)
        idx_str = ",".join(renameColumns(idxSeries))
        q_unique = "unique " if isIndexUnique else ""
        index_query_part = q_unique + f"primary index ({idx_str})"
    else:
        index_query_part = "no primary index"
    query = """
    create table {dbname}.{tablename} (
        {column_query_part}
    ) {index_query_part}
    """.format(tablename=tablename, dbname=dbname,
               column_query_part=column_query_part,
               index_query_part=index_query_part)
    if overwrite:
        dropIfExists(tablename, dbname, engine)
    else:
        if tableIsExist(tablename, dbname, engine):
            raise ValueError(f"{tablename}.{dbname} is already exists.")
    engine.execute(query)
    print("created table \n" + query)

def connectSSH(hostname:str, username:str, password:str=None,
               port:int=22, keyPath:str=None)->paramiko.client.SSHClient:
    if keyPath is not None:
        k = paramiko.RSAKey.from_private_key_file(keyPath)
    else:
        k = None
    sshc = paramiko.SSHClient()
    sshc.set_missing_host_key_policy(paramiko.AutoAddPolicy())
    sshc.connect(hostname, port, username, password, pkey=k) 
    return sshc
    
def uploadFile(sourcePath:str, targetPath:str,
               sshc:paramiko.client.SSHClient)->None:
    with scp.SCPClient(sshc.get_transport()) as scpc:
        scpc.put(sourcePath, targetPath)
            
def tdloadViaSSH(engine:sqlalchemy.engine.base.Engine,
                 sshc:paramiko.client.SSHClient, 
                 tablename:str, targetFile:str, dbname:str=None, 
                 jobname:str="jobtmp", skipRowNum:int=0,
                 verbose=True)->None:
    
    if dbname is None: dbname = engine.url.database    
    options = "--DCPQuotedData 'Optional'"
    if skipRowNum > 0:
        options += f" --SourceSkipRows {skipRowNum}"
        
    tdload_command = (f"tdload -f {targetFile} -t {dbname}.{tablename}"
                      + f" -h {engine.url.host} -u {engine.url.username}"
                      + f" -p {engine.url.password}"
                      + f" --TargetWorkingDatabase {dbname}"
                      + f" {options} {jobname}")
    
    dropIfExists(tablename+"_ET", dbname, engine)
    dropIfExists(tablename+"_UV", dbname, engine)
    
    stdin, stdout, stderr = sshc.exec_command(tdload_command)
    for line in stdout:
        if verbose:
            print(line)
        else:
            if re.match(r".*(Total Rows|successfully).*", line): print(line)

In [28]:
pd.read_sql_query("select * from df_sample3", engine)

,c_int,c_float,c_bool,c_string,c_list,c_timedelta,c_date,c_timestamp
0,3.0,0.9,True,c,"[7, 8, 9]",0 days 05:02:01.000000000,1980-04-01 00:00:00.000,2020-01-01 10:10:00.000
1,1.0,1.2,True,a,"[1, 2, 3]",0 days 00:01:02.000000000,2020-01-01 00:00:00.000,2020-01-01 10:10:10.090
2,4.0,1.5,False,d,"[1, 2, 3]",0 days 01:01:08.000000000,2008-01-01 00:00:00.000,2020-01-01 10:10:05.000
3,2.0,-0.3,False,b,"[4, 5, 6]",0 days 00:03:01.000000000,1998-12-02 00:00:00.000,2020-01-01 10:10:10.000

In [191]:
engine.url.database

'tdwork'

In [165]:
engine.url.password

'dbc'

In [166]:
engine.url.host

'192.168.43.24'

In [167]:
engine.url

teradatasql://dbc:***@192.168.43.24:1025/tdwork

In [12]:
import os

In [48]:
def tdload_df(df:pd.DataFrame, engine:sqlalchemy.engine.base.Engine,
              tablename:str, ssh_ip:str, ssh_username:str, dbname:str=None,
              overwrite:bool=False, ssh_password:str=None, ssh_keypath:str=None,
              ssh_folder:str=None, saveIndex=False, indexList:list=None,
              isIndexUnique:bool=True, verbose=True)->None:

    # 1. save csv
    if dbname is None: dbname = engine.url.database
    sourceName = f"tmp_{dbname}_{tablename}_{time.time():.0f}.csv"
    if saveIndex: df = df.reset_index()
    df.to_csv(sourceName, index=False)
    df_tmp = pd.read_csv(sourceName)
    
    # 2. create table
    createTable(df_tmp, engine, tablename, dbname, overwrite, indexList, isIndexUnique)

    # 3. copy file with scp
    if ssh_folder is None: ssh_folder = "~"
    targetPath = "/" + sourceName
    
    sshc = connectSSH(ssh_ip, ssh_username, ssh_password, keyPath=ssh_keypath)
    uploadFile(sourceName, targetPath, sshc)

    # 4. load file with tdload
    tdloadViaSSH(engine=engine, sshc=sshc, tablename=tablename,
                 targetFile=targetPath, dbname=dbname,
                 skipRowNum=1, verbose=verbose)
    
    # 5. delete tmp files and close connection
    os.remove(sourceName)
    sftp = sshc.open_sftp()
    sftp.remove(targetPath)
    sshc.close()

In [49]:
tdload_df(df_sample, engine, tablename="df_sample3", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root",
          indexList="c_int", isIndexUnique=False, verbose=False)

droped table tdwork.df_sample3
created table

    create table tdwork.df_sample3 (
        c_int Integer
    ,c_float float
    ,c_bool varchar(10)
    ,c_string varchar(6)
    ,c_list varchar(14)
    ,c_timedelta varchar(30)
    ,c_date varchar(28)
    ,c_timestamp varchar(28)
    ) primary index (c_int)

$LOAD: Total Rows Sent To RDBMS:      4

$LOAD: Total Rows Applied:            4

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

In [54]:
from sklearn.datasets import load_iris, load_boston, load_breast_cancer

In [55]:
from sklearn.datasets import load_wine, load_digits, load_diabetes

In [199]:
load_iris().keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [201]:
load_iris().get("sanada")

In [53]:
def make_df(loader):
    data = loader()
    columns = data.get("feature_names")
    df = pd.DataFrame(data.data, columns=columns)
    df["target"] = pd.Series(data.target)
    return df

In [56]:
df_iris = make_df(load_iris)
tdload_df(df_iris, engine, tablename="tdload_iris", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root",
         saveIndex=True, indexList=["index"])

droped table tdwork.tdload_iris
created table

    create table tdwork.tdload_iris (
        idx Integer
    ,sepal_length_cm float
    ,sepal_width_cm float
    ,petal_length_cm float
    ,petal_width_cm float
    ,target Integer
    ) unique primary index (idx)

Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-42.out

Job id is jobtmp-42, running on TDExpress1620_Sles11

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: DataConnector Producer operator Instances: 1

$FILE_READER[1]: ECI operator ID: '$FILE_READER-31535'

$FILE_READER[1]: Operator instance 1 processing file '/tmp_tdwork_tdload_iris_1579950674.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.tdload_iris'

$LOAD: Total Rows Sent To RDBMS:      150

$LOAD: Total Rows Applied:            150

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.002

$LOAD:     Elapsed time from start to Acquisition phase:   2 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase:   1 second(s)

$LOAD:     Elapsed time from Application phase to end: < 1 second

$LOAD: Total processor time used = '0.084005 Second(s)'

$LOAD: Start : Sat Jan 25 06:11:16 2020

$LOAD: End   : Sat Jan 25 06:11:22 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sat Jan 25 06:11:16 2020

Job end:   Sat Jan 25 06:11:22 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

In [240]:
df_boston = make_df(load_boston)
tdload_df(df_boston, engine, tablename="tdload_boston", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root")

created table

    create table tdwork.tdload_boston (
        CRIM float
    ,ZN float
    ,INDUS float
    ,CHAS float
    ,NOX float
    ,RM float
    ,AGE float
    ,DIS float
    ,RAD float
    ,TAX float
    ,PTRATIO float
    ,B float
    ,LSTAT float
    ,target float
    ) no primary index

Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-22.out

Job id is jobtmp-22, running on TDExpress1620_Sles11

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

$FILE_READER[1]: DataConnector Producer operator Instances: 1

$FILE_READER[1]: ECI operator ID: '$FILE_READER-21317'

$FILE_READER[1]: Operator instance 1 processing file '/tmp_tdwork_tdload_boston_1579943743.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.tdload_boston'

$LOAD: Total Rows Sent To RDBMS:      506

$LOAD: Total Rows Applied:            506

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.016

$LOAD:     Elapsed time from start to Acquisition phase:   2 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase: < 1 second

$LOAD:     Elapsed time from Application phase to end:   1 second(s)

$LOAD: Total processor time used = '0.096006 Second(s)'

$LOAD: Start : Sat Jan 25 04:15:45 2020

$LOAD: End   : Sat Jan 25 04:15:51 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sat Jan 25 04:15:45 2020

Job end:   Sat Jan 25 04:15:51 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

In [242]:
df_cancer = make_df(load_breast_cancer)
tdload_df(df_cancer, engine, tablename="tdload_cancer", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root")

droped table tdwork.tdload_cancer
created table

    create table tdwork.tdload_cancer (
        mean_radius float
    ,mean_texture float
    ,mean_perimeter float
    ,mean_area float
    ,mean_smoothness float
    ,mean_compactness float
    ,mean_concavity float
    ,mean_concave_points float
    ,mean_symmetry float
    ,mean_fractal_dimension float
    ,radius_error float
    ,texture_error float
    ,perimeter_error float
    ,area_error float
    ,smoothness_error float
    ,compactness_error float
    ,concavity_error float
    ,concave_points_error float
    ,symmetry_error float
    ,fractal_dimension_error float
    ,worst_radius float
    ,worst_texture float
    ,worst_perimeter float
    ,worst_area float
    ,worst_smoothness float
    ,worst_compactness float
    ,worst_concavity float
    ,worst_concave_points float
    ,worst_symmetry float
    ,worst_fractal_dimension float
    ,target Integer
    ) no primary index

Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-24.out

Job id is jobtmp-24, running on TDExpress1620_Sles11

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: DataConnector Producer operator Instances: 1

$FILE_READER[1]: ECI operator ID: '$FILE_READER-21473'

$FILE_READER[1]: Operator instance 1 processing file '/tmp_tdwork_tdload_cancer_1579943808.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.tdload_cancer'

$LOAD: Total Rows Sent To RDBMS:      569

$LOAD: Total Rows Applied:            569

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.045

$LOAD:     Elapsed time from start to Acquisition phase:   2 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase:   1 second(s)

$LOAD:     Elapsed time from Application phase to end: < 1 second

$LOAD: Total processor time used = '0.080004 Second(s)'

$LOAD: Start : Sat Jan 25 04:16:51 2020

$LOAD: End   : Sat Jan 25 04:16:57 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sat Jan 25 04:16:51 2020

Job end:   Sat Jan 25 04:16:57 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

In [243]:
df_diabetes = make_df(load_diabetes)
tdload_df(df_diabetes, engine, tablename="tdload_diabetes", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root")

created table

    create table tdwork.tdload_diabetes (
        age float
    ,sex float
    ,bmi float
    ,bp float
    ,s1 float
    ,s2 float
    ,s3 float
    ,s4 float
    ,s5 float
    ,s6 float
    ,target float
    ) no primary index

Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-25.out

Job id is jobtmp-25, running on TDExpress1620_Sles11

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

$FILE_READER[1]: DataConnector Producer operator Instances: 1

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: ECI operator ID: '$FILE_READER-21584'

$FILE_READER[1]: Operator instance 1 processing file '/tmp_tdwork_tdload_diabetes_1579943909.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.tdload_diabetes'

$LOAD: Total Rows Sent To RDBMS:      442

$LOAD: Total Rows Applied:            442

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.031

$LOAD:     Elapsed time from start to Acquisition phase:   2 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase: < 1 second

$LOAD:     Elapsed time from Application phase to end:   1 second(s)

$LOAD: Total processor time used = '0.084005 Second(s)'

$LOAD: Start : Sat Jan 25 04:18:31 2020

$LOAD: End   : Sat Jan 25 04:18:37 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sat Jan 25 04:18:31 2020

Job end:   Sat Jan 25 04:18:37 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

In [244]:
df_wine = make_df(load_wine)
tdload_df(df_wine, engine, tablename="tdload_wine", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root")

created table

    create table tdwork.tdload_wine (
        alcohol float
    ,malic_acid float
    ,ash float
    ,alcalinity_of_ash float
    ,magnesium float
    ,total_phenols float
    ,flavanoids float
    ,nonflavanoid_phenols float
    ,proanthocyanins float
    ,color_intensity float
    ,hue float
    ,od280od315_of_diluted_wines float
    ,proline float
    ,target Integer
    ) no primary index

Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-26.out

Job id is jobtmp-26, running on TDExpress1620_Sles11

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

$FILE_READER[1]: DataConnector Producer operator Instances: 1

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

$FILE_READER[1]: ECI operator ID: '$FILE_READER-21673'

$FILE_READER[1]: Operator instance 1 processing file '/tmp_tdwork_tdload_wine_1579943971.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.tdload_wine'

$LOAD: Total Rows Sent To RDBMS:      178

$LOAD: Total Rows Applied:            178

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.005

$LOAD:     Elapsed time from start to Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase: < 1 second

$LOAD:     Elapsed time from Application phase to end: < 1 second

$LOAD: Total processor time used = '0.104007 Second(s)'

$LOAD: Start : Sat Jan 25 04:19:33 2020

$LOAD: End   : Sat Jan 25 04:19:39 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sat Jan 25 04:19:33 2020

Job end:   Sat Jan 25 04:19:39 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used

In [279]:
df_digits= make_df(load_digits)
tdload_df(df_digits, engine, tablename="tdload_digits", overwrite=True,
          ssh_ip="192.168.43.24", ssh_username="root", ssh_password="root")

created table

    create table tdwork.tdload_digits (
        col_0 float
    ,col_1 float
    ,col_2 float
    ,col_3 float
    ,col_4 float
    ,col_5 float
    ,col_6 float
    ,col_7 float
    ,col_8 float
    ,col_9 float
    ,col_10 float
    ,col_11 float
    ,col_12 float
    ,col_13 float
    ,col_14 float
    ,col_15 float
    ,col_16 float
    ,col_17 float
    ,col_18 float
    ,col_19 float
    ,col_20 float
    ,col_21 float
    ,col_22 float
    ,col_23 float
    ,col_24 float
    ,col_25 float
    ,col_26 float
    ,col_27 float
    ,col_28 float
    ,col_29 float
    ,col_30 float
    ,col_31 float
    ,col_32 float
    ,col_33 float
    ,col_34 float
    ,col_35 float
    ,col_36 float
    ,col_37 float
    ,col_38 float
    ,col_39 float
    ,col_40 float
    ,col_41 float
    ,col_42 float
    ,col_43 float
    ,col_44 float
    ,col_45 float
    ,col_46 float
    ,col_47 float
    ,col_48 float
    ,col_49 float
    ,col_50 float
    ,col_51 float
    ,col_52 float
    ,col_53 float
    ,col_54 float
    ,col_55 float
    ,col_56 float
    ,col_57 float
    ,col_58 float
    ,col_59 float
    ,col_60 float
    ,col_61 float
    ,col_62 float
    ,col_63 float
    ,target Integer
    ) no primary index

Teradata Parallel Transporter Version 16.20.00.09 64-Bit

The global configuration file '/opt/teradata/client/16.20/tbuild/twbcfg.ini' is used.

   Log Directory: /opt/teradata/client/16.20/tbuild/logs

   Checkpoint Directory: /opt/teradata/client/16.20/tbuild/checkpoint



Job log: /opt/teradata/client/16.20/tbuild/logs/jobtmp-27.out

Job id is jobtmp-27, running on TDExpress1620_Sles11

Teradata Parallel Transporter Load Operator Version 16.20.00.09

$LOAD: private log specified: LoadLog

Teradata Parallel Transporter DataConnector Operator Version 16.20.00.09

$FILE_READER[1]: DataConnector Producer operator Instances: 1

$FILE_READER[1]: ECI operator ID: '$FILE_READER-22353'

$FILE_READER[1]: Operator instance 1 processing file '/tmp_tdwork_tdload_digits_1579944520.csv'.

$LOAD: connecting sessions

$LOAD: preparing target table

$LOAD: entering Acquisition Phase

$LOAD: entering Application Phase

$LOAD: Statistics for Target Table:  'tdwork.tdload_digits'

$LOAD: Total Rows Sent To RDBMS:      1797

$LOAD: Total Rows Applied:            1797

$LOAD: Total Rows in Error Table 1:   0

$LOAD: Total Rows in Error Table 2:   0

$LOAD: Total Duplicate Rows:          0

$FILE_READER[1]: Total files processed: 1.

$LOAD: disconnecting sessions

$LOAD: Performance metrics:

$LOAD:     MB/sec in Acquisition phase: 0.202

$LOAD:     Elapsed time from start to Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Acquisition phase:   3 second(s)

$LOAD:     Elapsed time in Application phase:   1 second(s)

$LOAD:     Elapsed time from Application phase to end:   1 second(s)

$LOAD: Total processor time used = '0.136009 Second(s)'

$LOAD: Start : Sat Jan 25 04:28:42 2020

$LOAD: End   : Sat Jan 25 04:28:50 2020

Job step MAIN_STEP completed successfully

Job jobtmp completed successfully

Job start: Sat Jan 25 04:28:42 2020

Job end:   Sat Jan 25 04:28:50 2020

Teradata Load Utility Version 16.20.00.09 64-Bit

TPT_INFRA: TPT05550: Warning: no Source File Delimiter specified, default "," will be used